Repository hmcts/div-case-orchestration-service, pull requests merged in 2018-10, with the labels that each got.

#16 enable aks on build pipeline
  Dockerfile
  Jenkinsfile_CNP
  infrastructure/output.tf
  src/kubernetes/config.aat.yaml
  src/kubernetes/deployment.template.yaml
  src/main/resources/application.yml
Labels: ip:10.97.16.46, ns:div, sn:div-cos-pr-16

#40 Issue mini petition
  build.gradle
  infrastructure/aat.tfvars
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cms/CmsClientSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/DraftsSubmissionSupport.java
  src/kubernetes/deployment.template.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseFormatterAddPDF.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GenericEmailNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveNullElements.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveDraft.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendSubmissionNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateSolicitorCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveDraftWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseFormatterAddPDFTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveDraftTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveDraftWorkflowTest.java
Labels: ns:div-cos-pr-40

#44 DIV-3321 - set issue date on CCD callback
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetIssueDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetIssueDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackWorkflowTest.java
Labels: ns:div-cos-pr-44

#47 Added DN submitted notification workflow
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DNReceivedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/fixtures/submit-dn/dn-submitted-error.json
  src/integrationTest/resources/fixtures/submit-dn/dn-submitted.json
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DNSubmittedWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTaskUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DNSubmittedWorkflowUTest.java
Labels: ns:div-cos-pr-47

#51 Add app insights
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:div-cos-pr-51

#53 DIV-3426 Fix save draft notification template
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  src/kubernetes/config.aat.yaml
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:div-cos-pr-53

#56 Set ReceivedAOSfromResp and ReceivedAOSfromRespDate on linking
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetIssueDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetIssueDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
Labels: ns:div-cos-pr-56

#59 DIV-3435 Remove Draft Transformation
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/resources/draft/complete-case-response.json
  src/integrationTest/resources/draft/draft-part1-response.json
  src/integrationTest/resources/draft/draft-part2-response.json
  src/integrationTest/resources/draft/draft-with-divorce-format.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseDataDraftToDivorceFormatter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveDraftWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveDraftWorkflowTest.java
Labels: ns:div-cos-pr-59

#58 bulk print workflow
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/resources/application.properties
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/OrchestrationServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/FeatureToggleServiceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Address.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CollectionMember.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Connections.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Document.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DocumentLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/FeeItem.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/FeeResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/FeeValue.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Gender.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/OrderSummary.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/RejectReason.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/RejectReasonAddress.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/documentgeneration/GeneratedDocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ff4j/FeatureToggle.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/Payment.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/PaymentCollection.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/FeatureToggleServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/SendLetterServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ModifyDueDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-58

#65 Fix text fixtures
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-defend-consent.json
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-defend-no-consent.json
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-no-defend-consent.json
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-no-defend-no-consent.json
Labels: ns:div-cos-pr-65

#67 Added Created date in session data
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
Labels: ns:div-cos-pr-67

#57 Set due date
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdClientSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/fixtures/issue-petition/submit-complete-case.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForDefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/TaskCommons.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/JsonPayloadUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DeleteDraftWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SaveDraftWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GenericEmailNotificationUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ObjectMapperTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/JsonPayloadUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflowTest.java
  src/test/resources/application.yml
  src/test/resources/jsonExamples/payloads/respondentAcknowledgesServiceDefendingDivorce.json
  src/test/resources/jsonExamples/payloads/unclearAcknowledgementOfService.json
Labels: ns:div-cos-pr-57
