Repository hmcts/div-case-orchestration-service, pull requests merged in 2018-12, with the labels that each got.

#95 adapted code changes after integration test
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
Labels: ns:div-cos-pr-95

#96 Ingored failed test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
Labels: ns:div-cos-pr-96

#98 DIV-3710 - changed unreasonable behaviour event for consent/no admit
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitAosCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCase.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCaseUTest.java
Labels: ns:div-cos-pr-98

#102 Due date chagnes div3732
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/main/resources/application.yml
Labels: ns:div-cos-pr-102

#100 DIV-3725 Allow Aos start from aosOverdue
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
Labels: ns:div-cos-pr-100

#105 DIV-3644 fix multiple cases exception handling (300)
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/helper/GlobalExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/helper/GlobalExceptionHandlerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveCaseITest.java
Labels: ns:div-cos-pr-105

#106 Only generate aosPetition when divorce unit is serviceCentre
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueTest.java
  src/integrationTest/resources/fixtures/issue-petition/ccd-callback-aos-invitation-service-centre.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackWorkflowTest.java
Labels: ns:div-cos-pr-106

#108 DIV-3759 - don't change dueDate
  checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitAosCaseTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-108

#112 Ignore issue slf4j
  dependency-check-suppressions.xml
Labels: ns:div-cos-pr-112

#94 Update tests to handle new AoS fetching + filtering
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
Labels: ns:div-cos-pr-94

#110 [PREVIEW] DIV-3460 Apply changes to email template -> case ID to family man ref
  infrastructure/main.tf
  src/integrationTest/resources/fixtures/issue-petition/submit-complete-case.json
  src/integrationTest/resources/fixtures/issue-petition/submit-unlinked-case.json
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerGenericUpdateNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForDefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForUndefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AosRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTaskUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflowUTest.java
  src/test/resources/jsonExamples/payloads/respondentAcknowledgesServiceDefendingDivorce.json
  src/test/resources/jsonExamples/payloads/respondentAcknowledgesServiceNotDefendingDivorce.json
Labels: ns:div-cos-pr-110

#117 Remove respondent permission in case update data fails
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseMaintenanceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UnlinkRespondent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkRespondentWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UnlinkRespondentUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkRespondentWorkflowUTest.java
Labels: ns:div-cos-pr-117
