Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-11, with the labels that each got.

#582 Upgrading AI Agent
  Dockerfile
  build.gradle
Labels: ns:div-cos-pr-582

#591 BSP-74: Creating basic endpoint for scanned form validation
  .gitignore
  job-scheduler/.gitignore
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/in/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/in/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/OcrValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/ValidationStatus.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/validation/basicForm.json
Labels: ns:div-cos-pr-591

#597 BSP-111: Returning 404 http code for unsupported form type
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/OcrValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/exception/bulk/scan/UnsupportedFormTypeException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactory.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactoryTest.java
Labels: ns:div-cos-pr-597

#598 Nightly tests are failing for python2 and python3 compatibility
  security.sh
Labels: ns:div-cos-pr-598

#600 add HTML report fro ZAP scan
  security.sh
Labels: ns:div-cos-pr-600

#596 BSP-77: Implemented logic to transform small amount of excela data to CCD
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/transformation/in/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/transformation/out/SuccessfulTransformationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/ExceptionRecordToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/basicForm.json
Labels: ns:div-cos-pr-596

#603 BSP-88: D8 form section 1 validation and transformation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/OcrValidationResult.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkScanValidationService.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/basicForm.json
Labels: ns:div-cos-pr-603

#605 BSP-87 & BSP-90: Implemented transformation logic for more D8 Fields
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/ExceptionRecordToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/basicForm.json
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/partialD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/validation/incompleteForm.json
Labels: ns:div-cos-pr-605

#608 BSP-88: Transformation and tidy up
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/OcrValidationResult.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/ValidationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/OcrValidationResultTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/basicForm.json
Labels: ns:div-cos-pr-608

#615 Indent postgresql to fix pipeline
  charts/div-cos/values.preview.template.yaml
Labels: ns:div-cos-pr-615

#617 BSP-87 and BSP-90 Validation & Transformation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/ExceptionRecordToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/partialD8Form.json
Labels: ns:div-cos-pr-617

#609 BSP-99: S2S authentication for bulk scan endpoints
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/advice/S2SExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/common/AuthService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/common/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/common/UnauthenticatedException.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/S2SAuthTokens.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/UpdateBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/common/AuthServiceTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-609

#612 BSP-91: Added D8MarriagePetitionerName and D8MarriageRespondentName fields
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/partialD8Form.json
Labels: ns:div-cos-pr-612

#618 BSP-104: Converting and validating separation date
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/exception/FormFieldValidationException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/ExceptionRecordToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
Labels: ns:div-cos-pr-618

#620 BSP-104: Fail wrong leap year dates.
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
Labels: ns:div-cos-pr-620

#619 BSP-89 and BSP-100: Section 2 Parts 1 and 2 Validation and Transformation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkScanValidationPatterns.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/partialD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/validation/warningsD8Form.json
Labels: ns:div-cos-pr-619

#622 BSP-100 and BSP-90: Postcode transformation and negative validation tests; Respondent phone number validation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/PostcodeValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/PostcodeValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
Labels: ns:div-cos-pr-622
