Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-10, with the labels that each got.

#508 DIV-5780: Bulk printing AOS offline letters
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/IssueAosPackOfflineTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/AOSPackOfflineConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/documentgeneration/DocumentGenerationRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationServiceException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosPackOfflineServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAosPackPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAosPackPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoRespondentAosPackPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/RespondentAosPackPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CalculateSeparationFieldsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AosPackRespondentOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosPackOfflineServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoRespondentAosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/RespondentAosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
Labels: ns:div-cos-pr-508

#514 Fix build and nightly syntax
  Dockerfile
  Jenkinsfile_nightly
  build.gradle
  dependency-check-suppressions.xml
  lib/applicationinsights-agent-2.3.1.jar
Labels: ns:div-cos-pr-514

#515 DIV-4961 - fixed solicitor bulk-print validation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ServiceMethodValidationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ServiceMethodValidationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
Labels: ns:div-cos-pr-515

#491 DIV-5836 - Allow CoResp submit when case is AosAwaitingSol
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCase.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCaseUTest.java
Labels: ns:div-cos-pr-491

#506 Keep previous DN Clarification documents
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTaskTest.java
Labels: ns:div-cos-pr-506

#498 DIV-3934 Added DN rejection notification
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/FeesAndPaymentsClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/fees/FeeResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetAmendPetitionFeeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyForRefusalOrderTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/NotifyForRefusalOrderWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/fees/FeeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnDecisionMadeCallbackITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetAmendPetitionFeeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetAmendPetitionFeeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyForRefusalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/NotifyForRefusalOrderWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-498

#527 Remove DARequested State From DA Extractor
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
Labels: ns:div-cos-pr-527

#518 Re-enable all integration tests
  Jenkinsfile_nightly
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespReceivedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueCallBackE2ETest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorPersonalServiceCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/category/ExtendedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCaseToCCDIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
Labels: ns:div-cos-pr-518

#463 Moved all valid notifications from AboutToSubmit callback workflows t…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/GenericEmailContext.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/SolicitorService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GenericEmailNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DNSubmittedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeAbsoluteAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssuePersonalServicePackWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/ApplicantDecreeAbsoluteEligibilityWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/DnSubmittedEmailNotificationWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/NotifyApplicantCanFinaliseDivorceWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationEmailWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendSolicitorPersonalServiceEmailWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AosRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/NotifyApplicantCanFinaliseDivorceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/ProcessApplicantDAEligibilityTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DNSubmittedWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeAbsoluteAboutToBeGrantedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssuePersonalServicePackWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/ApplicantDecreeAbsoluteEligibilityWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/DnSubmittedEmailNotificationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/NotifyApplicantCanFinaliseDivorceWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationEmailWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendSolicitorPersonalServiceEmailWorkflowTest.java
Labels: ns:div-cos-pr-463

#532 DIV-5889: Modify the data extractor to be run on demand for a given d…
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/dataextraction/FamilyManDataExtractionIT.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/DataExtractionController.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/DataExtractionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManOnDemandTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
Labels: ns:div-cos-pr-532

#525 modify AOS overdue due date
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AosPackRespondentOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
Labels: ns:div-cos-pr-525

#499 Added DN Refusal Document Generation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
Labels: ns:div-cos-pr-499

#533 Fixed older clarification documents not being stored properly
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DnAboutToBeGrantedTest.java
  src/integrationTest/resources/fixtures/callback/dn-refusal-clarification.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTask.java
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTaskTest.java
Labels: ns:div-cos-pr-533

#537 DIV-5718: Create a callback to decide the next state of a case when AOS offline is issued
  charts/div-cos/values.aat.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AosPackOfflineService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosPackOfflineServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosAnswersProcessor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AOSPackOfflineAnswersInputTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/IssueAosPackOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosPackOfflineServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosAnswersProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflowTest.java
Labels: ns:div-cos-pr-537

#538 Is using digital channel set to no when triggering offline journey
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MarkJourneyAsOffline.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/IssueAosPackOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MarkJourneyAsOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
Labels: ns:div-cos-pr-538

#539 [FAST] Fix-CVE-2019-16942 Apply Jackson update
  build.gradle
  job-scheduler/build.gradle
Labels: ns:div-cos-pr-539

#520 DIV-5847: Correct timezone for DA Granted
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaGrantedDetailsTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DaAboutToBeGrantedDocumentsGeneration.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaGrantedDetailsTaskTest.java
Labels: ns:div-cos-pr-520

#529 DIV-5773 Add AwaitingAdminClarification state
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTaskTest.java
Labels: ns:div-cos-pr-529

#543 DIV-5860: Enabling Integration test for data migration to run with no manual steps
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/dataextraction/FamilyManDataExtractionIT.java
Labels: ns:div-cos-pr-543

#475 Delete created users after test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
Labels: ns:div-cos-pr-475

#531 DIV-5641: Make CostClaimedGranted Optional
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractorTest.java
Labels: ns:div-cos-pr-531

#488 DIV-5766 Add AwaitingClarification Path in DN-Submit Endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseFormatterClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToDnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitDnCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitDnCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitDnCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToDnCaseDataUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitDnCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitDnCaseWorkflowUTest.java
Labels: ns:div-cos-pr-488

#548 Common Lib Conflict Resolution
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToDnCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitDnCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitDnCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitDnCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToDnCaseDataUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitDnCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitDnCaseWorkflowUTest.java
Labels: ns:div-cos-pr-548

#521 DIV-5843 Notification for DA Granted to Resp Sol if present
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationEmailWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DaAboutToBeGrantedDocumentsGeneration.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DaAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationEmailWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-521

#549 DIV-5718: Using correct field for offline journey
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosAnswersProcessor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosAnswersProcessorTest.java
Labels: ns:div-cos-pr-549

#523 DIV-5858 refusal draft
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiDecisionStateWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiStateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiDecisionStateWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflowTest.java
  src/test/resources/jsonExamples/payloads/documentGeneratedCase.json
Labels: ns:div-cos-pr-523

#552 DIV-5718 Some form fields need to have their values relayed to other fields
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/FormFieldValuesToCoreFieldsRelay.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AOSPackOfflineAnswersInputTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/FormFieldValuesToCoreFieldsRelayTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflowTest.java
Labels: ns:div-cos-pr-552

#547 DIV-5293 use right CCD field when searching for cases eligible for DA Overdue
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchCasesDAOverdueTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MakeCasesDAOverdueITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchCasesDAOverdueTaskTest.java
Labels: ns:div-cos-pr-547

#554 DIV-5778: AOS Offline behaviour/desertion flow fix
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosAnswersProcessor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AOSPackOfflineAnswersInputTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosAnswersProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflowTest.java
Labels: ns:div-cos-pr-554

#555 Add interceptor
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/FeignRequestInterceptor.java
  src/main/resources/application.yml
Labels: ns:div-cos-pr-555

#551 Add validation for pronouncement date in the future
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnPronouncementDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnPronouncementDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
Labels: ns:div-cos-pr-551

#545 DIV-5234 clarification submitted email
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionerClarificationSubmittedNotificationTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/fixtures/legal-advisor/callback-petitioner-clarification-requested.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/PetitionerClarificationSubmittedNotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendClarificationSubmittedNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/PetitionerClarificationSubmittedNotificationTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-545

#528 DIV-5505 Amend handling of Solicitor AoS submissions for 2yr/5yr/Adultery
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/FormFieldValuesToCoreFieldsRelay.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosAnswersProcessor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImplUTest.java
Labels: ns:div-cos-pr-528

#553 Send Amend Notification If Previous Case Id Exists
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerSubmissionNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-553

#561 Add dependabot config
  .dependabot/config.yml
Labels: ns:div-cos-pr-561

#568 fix quartz vulnerabilty
  build.gradle
  job-scheduler/build.gradle
Labels: ns:div-cos-pr-568

#560 DIV-6018: Gradle dependencies upgrade + suppressions cleanup
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  job-scheduler/build.gradle
Labels: ns:div-cos-pr-560

#576 Changed filenames for Rejection and Clarification Refusal Order docs
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
Labels: ns:div-cos-pr-576

#550 DIV-5832: Removed some code smell as highlighted by sonarcloud
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/UpdateDNPronouncedCaseEventListenerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetFormattedDnCourtDetailsTest.java
Labels: ns:div-cos-pr-550

#535 DIV-5581 Migrate to IDAM Java client
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
  src/integrationTest/resources/application-aat.properties
  src/integrationTest/resources/application-saat.properties
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/example-application-local.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/OrchestrationServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AuthenticateRespondent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentPinGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/LinkRespondent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentPinGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorLinkedField.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UnlinkRespondent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateExistingSolicitorLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/AuthUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkRespondentWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorLinkCaseWorkflow.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/IdamTestSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentSolicitorNominatedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AuthenticateRespondentUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentPinGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/LinkRespondentUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentPinGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorLinkedFieldTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UnlinkRespondentUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateExistingSolicitorLinkTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/AuthUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkRespondentWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorLinkCaseWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-535
