Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-03, with the labels that each got.

#157 DIV-3740 & DIV-3741: Email to Pet when no admission of adultery or 2yearSep
  dependency-check-suppressions.xml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerGenericUpdateNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerGenericEmailNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-157

#180 [PREVIEW] Added missing apostrophe that was breaking build pipelines
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
Labels: ns:div-cos-pr-180

#175 DIV-4270 bulk print co-respondent letter
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkPrinter.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkPrinterTest.java
Labels: ns:div-cos-pr-175

#191 DIV-4460 - fix email encoding errors
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosReceivedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosSubmittedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespReceivedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DNReceivedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-defend.json
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-undefend.json
  src/integrationTest/resources/fixtures/respond-to-a-divorce/ccd-callback-aos-submitted.json
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-received.json
  src/integrationTest/resources/fixtures/submit-dn/dn-submitted.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GenericEmailNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflowUTest.java
Labels: ns:div-cos-pr-191

#189 DIV-4446 Set ReceivedAos on AOS submit
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitCoRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
Labels: ns:div-cos-pr-189

#177 Div-4360 grant linked respondent permission
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/CourtAllocatorITest.java
Labels: ns:div-cos-pr-177

#183 Refactor - Code cleanup
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/DefaultWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/DefaultTaskContext.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/TaskContext.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/DefaultTaskContextTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkPrinterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetInconsistentPaymentInfoUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateSolicitorCaseDataTest.java
Labels: ns:div-cos-pr-183

#188 Setup SAAT and SIDAM
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AuthenticateRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/RegisterUserRequest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
  src/integrationTest/resources/application-aat.properties
  src/integrationTest/resources/application-local.properties
  src/integrationTest/resources/application-saat.properties
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AuthenticateRespondent.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AuthenticateRespondentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/IdamTestSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AuthenticateRespondentUTest.java
Labels: ns:div-cos-pr-188

#187 DIV-4467 - remove the checkCcd flag
  build.gradle
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveAosTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/RetrieveAosCaseSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/DraftsSubmissionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/RetrieveCaseSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/RestUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseMaintenanceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveDraft.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveAosCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveDraftWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitCoRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveDraftTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveAosCaseWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveDraftWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-187

#198 DIV-4442: Add ability to move case into dnRecievedAosCompleted
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/EmailNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitDnCase.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitDnCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitDnCaseUTest.java
Labels: ns:div-cos-pr-198

#209 Test branch
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
Labels: ns:div-cos-pr-209

#184 Refator - rename method name
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:div-cos-pr-184

#179 DIV-4399 Update JSON to latest petition submission from PFE (CCD)
  src/integrationTest/resources/fixtures/amend-petition/issued-case.json
Labels: ns:div-cos-pr-179

#208 Added missing states for CoResp submission
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCase.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCaseUTest.java
Labels: ns:div-cos-pr-208

#201 Refactor - class rename
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionSubmissionNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessPbaPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreatePaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdClientSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CcdCallbackRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DNSubmittedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ProcessPbaPaymentWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerGenericEmailNotificationWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerSubmissionNotificationWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AosRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CoRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/GetPetitionIssueFeesITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DNSubmittedWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ProcessPbaPaymentWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflowTest.java
Labels: ns:div-cos-pr-201

#213 Enable SIDAM on Prod
  dependency-check-suppressions.xml
  infrastructure/prod.tfvars
Labels: ns:div-cos-pr-213
