Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-12, with the labels that each got.

#623 BSP-101: D8 Section 2 - Petitioner Solicitor fields validation and transformation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/validation/warningsD8Form.json
Labels: ns:div-cos-pr-623

#624 BSP-136: Refactoring transformation endpoint so that it can cater for…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/transformation/in/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/transformation/out/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/transformation/out/SuccessfulTransformationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/exception/bulk/scan/UnsupportedFormTypeException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkScanService.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanValidationServiceTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/partialD8Form.json
Labels: ns:div-cos-pr-624

#625 Retro-actions: one config for all developers: .editorconfig
  .editorconfig
Labels: ns:div-cos-pr-625

#628 Adding in variables that are also in aat
  infrastructure/demo.tfvars
Labels: ns:div-cos-pr-628

#630 BSP-148 -Integration Tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/bulk/scan/BulkScanIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/UpdateBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
Labels: ns:div-cos-pr-630

#634 s2s common lib
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/OrchestrationServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/advice/S2SExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/common/AuthService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/common/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/common/UnauthenticatedException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/in/OcrDataValidationRequest.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/common/AuthServiceTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-634

#629 D8PetitionerHomeAddressStreet field validation and transformation added
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
Labels: ns:div-cos-pr-629

#637 Removed 2 common exceptions from DIV-COS and imported from bsp-commons-lib
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/exception/bulk/scan/UnsupportedFormTypeException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/exception/FormFieldValidationException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkScanService.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanServiceTest.java
Labels: ns:div-cos-pr-637

#636 Bsp 106 adultery section 3rd party
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
Labels: ns:div-cos-pr-636

#621 Changed dependabot to weekly to stop spam
  .dependabot/config.yml
Labels: ns:div-cos-pr-621

#631 BSP-103: Section 4 Details of Marriage/Civil Partnership - Validation and Transformation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/validation/warningsD8Form.json
Labels: ns:div-cos-pr-631

#640 presence of address fields depends on condition: useHomeAddress
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
Labels: ns:div-cos-pr-640

#641 BSP-145 remove classes that now are in BSP Commons lib
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkScanValidationPatterns.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/transformation/in/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/transformation/out/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/transformation/out/SuccessfulTransformationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/update/in/BulkScanCaseUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/update/out/SuccessfulUpdateResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/in/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/in/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/OcrValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/OcrValidationResult.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/ValidationStatus.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/bulkscan/BulkScanEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/PostcodeValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkScanService.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/scan/validation/out/OcrValidationResultTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/UpdateBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/PostcodeValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
Labels: ns:div-cos-pr-641

#645 Bsp 109 apply for financial order
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/validation/warningsD8Form.json
Labels: ns:div-cos-pr-645

#646 Bsp 93 reason for divorce
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/validation/warningsD8Form.json
Labels: ns:div-cos-pr-646

#647 existing court cases, validation and transformation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/NewDivorceCaseValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/validation/warningsD8Form.json
Labels: ns:div-cos-pr-647

#648 Bsp 102 d8 section3 respondent
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/bulk/scan/BulkScanIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/BulkScanForms.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/partialD8Form.json
Labels: ns:div-cos-pr-648
