Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-02, with the labels that each got.

#154 Update Dockerfile
  Dockerfile
  src/integrationTest/resources/draft/complete-case-response.json
Labels: ns:div-cos-pr-154

#147 DIV-4018: Supressed dependencies, updated dependencyAnalyze version
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:div-cos-pr-147

#153 set up divorce cos security scan
  Jenkinsfile_nightly
  functional-output/.gitkeep
  security.sh
Labels: ns:div-cos-pr-153

#126 Strategic Payment
  Dockerfile
  Jenkinsfile_CNP
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PaymentUpdateCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/RestUtil.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/draft/basic-case.json
  src/integrationTest/resources/fixtures/callback/paymentUpdate.json
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/Cancel.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/Fee.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/Links.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/NextUrl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/PaymentUpdate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/Self.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/StatusHistory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AuthenticateRespondent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/IdamPinGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/AuthUtil.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/IdamTestSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PaymentUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AuthenticateRespondentUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/IdamPinGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromStrategicIdamUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromTacticalIdamUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/AuthUtilUTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-126

#146 DIV-3724: Brought court allocation algorithm from PFE to COS
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CoRespondentCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCaseToCCDIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/RetrieveCaseSupport.java
  src/integrationTest/resources/fixtures/maintenance/submit/divorce-session-with-court-selected.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/courtallocation/CourtAllocationConfigurator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/courtallocation/DivorceCasesRatio.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/CourtAllocationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/CourtAllocator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/CourtAllocatorException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/DefaultCourtAllocator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/FactSpecificCourtWeightedDistributor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/GenericCourtWeightedDistributor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CaseCreationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/AllocatedCourt.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/CourtConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/facts/DivorceFacts.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CourtAllocationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitToCCDWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/config/courtallocation/CourtAllocationConfiguratorIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/config/courtallocation/CourtAllocationConfiguratorUnitTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/CourtAllocatorOriginalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/DefaultCourtAllocatorFurtherTests.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/EnumeratedDistributionExplorationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/FactSpecificCourtWeightedDistributorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/GenericCourtWeightedDistributorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/OriginalCourtAllocator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/OriginalCourtAllocatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CourtAllocationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetInconsistentPaymentInfoUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ObjectMapperTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitToCCDWorkflowTest.java
  src/test/resources/application.yml
  src/test/resources/courtAllocation/config-with-court-weight-and-reasons.json
  src/test/resources/courtAllocation/config-with-court-weight-only.json
Labels: ns:div-cos-pr-146

#140 DIV-4120: Modified case state setting so cases can be put into AOSCompleted
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitAosCaseTest.java
  src/integrationTest/resources/fixtures/issue-petition/submit-complete-case-reason-adultery.json
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateExistingCollections.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitAosCaseWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitAosCaseWorkflowUTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-140

#156 set up divorce cos security scan
  security.sh
Labels: ns:div-cos-pr-156

#150 DIV-3742 amend petition
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AmendPetitionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/draft/basic-case.json
  src/integrationTest/resources/draft/complete-case-response.json
  src/integrationTest/resources/fixtures/amend-petition/issued-case.json
  src/integrationTest/resources/fixtures/maintenance/submit-dn/dn-submit.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseMaintenanceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CreateAmendPetitionDraft.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveDraft.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AmendPetitionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AmendPetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AmendPetitionTest.java
  src/test/resources/jsonExamples/payloads/paymentPendingDraft.json
Labels: ns:div-cos-pr-150

#155 Use Boolean Query param instead of email
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/DraftsSubmissionSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/EmailNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SaveDraftWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/EmailNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SaveDraftWorkflowTest.java
Labels: ns:div-cos-pr-155

#160 DIV-3350: Make case state AOSCompleted when reason is 2yearSep
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitAosCaseTest.java
  src/integrationTest/resources/fixtures/issue-petition/submit-complete-case-reason-2yearSep.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCase.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCaseUTest.java
Labels: ns:div-cos-pr-160

#165 Upgrade PMD to fix CVE-2019-7722
  build.gradle
Labels: ns:div-cos-pr-165

#162 DIV-4164 Added corespondent notification
  checkstyle.xml
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespReceivedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-defend.json
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-received-error.json
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-undefend.json
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CoRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflowTest.java
Labels: ns:div-cos-pr-162

#168 Fix broken build
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/resources/draft/complete-case-response.json
Labels: ns:div-cos-pr-168

#163 DIV-3952 Co-Respondent linking
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CoRespondentCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseWithId.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/LinkRespondent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkRespondentWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/IdamTestSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseByIdUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/LinkRespondentUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromStrategicIdamUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromTacticalIdamUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkRespondentWorkflowUTest.java
Labels: ns:div-cos-pr-163

#171 Fixed broken tests.
  src/integrationTest/resources/fixtures/maintenance/co-respondent/co-respondent-answers.json
Labels: ns:div-cos-pr-171

#170 DIV-3941 enable ignored test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueCallBackE2ETest.java
Labels: ns:div-cos-pr-170
