Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-01, with the labels that each got.

#119 DIV-3830: Replaced invalid emails with proper gov-notify one
  src/integrationTest/resources/draft/draft-part1-response.json
  src/integrationTest/resources/draft/draft-part1.json
  src/integrationTest/resources/draft/draft-with-divorce-format.json
  src/integrationTest/resources/draft/save-draft.json
  src/integrationTest/resources/fixtures/issue-petition/ccd-callback-aos-invitation-service-centre.json
  src/integrationTest/resources/fixtures/issue-petition/ccd-callback-aos-invitation.json
  src/integrationTest/resources/fixtures/issue-petition/submit-complete-case.json
  src/integrationTest/resources/fixtures/issue-petition/submit-unlinked-case.json
  src/integrationTest/resources/fixtures/maintenance/update/submit-case-data.json
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/integrationTest/resources/fixtures/solicitor/ccd-request-data.json
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
Labels: ns:div-cos-pr-119

#118 DIV-3840 - renamed respDefendsDivorce to respWillDefendDivorce
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-defend-consent.json
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-defend-no-consent.json
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-no-defend-consent.json
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-no-defend-no-consent.json
  src/integrationTest/resources/fixtures/respond-to-a-divorce/ccd-callback-aos-submitted-error.json
  src/integrationTest/resources/fixtures/respond-to-a-divorce/ccd-callback-aos-submitted.json
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflowTest.java
  src/test/resources/jsonExamples/payloads/defendedDivorceAOSMissingCaseId.json
  src/test/resources/jsonExamples/payloads/defendedDivorceAOSMissingFields.json
  src/test/resources/jsonExamples/payloads/respondentAcknowledgesServiceDefendingDivorce.json
  src/test/resources/jsonExamples/payloads/respondentAcknowledgesServiceNotDefendingDivorce.json
  src/test/resources/jsonExamples/payloads/undefendedDivorceAOSMissingFields.json
Labels: ns:div-cos-pr-118

#123 DIV-3840 - Changed CFS URL back to AAT
  src/kubernetes/config.aat.yaml
Labels: ns:div-cos-pr-123

#114 Populate existing payments before updating
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseMaintenanceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateExistingCollections.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateToCCDWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateExistingCollectionsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateToCCDWorkflowTest.java
Labels: ns:div-cos-pr-114

#125 Send hasBeenChanges session data to CCD
  src/integrationTest/resources/fixtures/maintenance/submit-dn/dn-submit.json
Labels: ns:div-cos-pr-125

#122 DIV-3886-Recover case on Awaiting payment state
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/PaymentClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/Court.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/Payment.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/AbstractWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/DefaultWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/Workflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/DefaultTaskContext.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetInconsistentPaymentInfo.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdatePaymentMadeCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveDraftWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/DefaultWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetInconsistentPaymentInfoUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdatePaymentMadeCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ObjectMapperTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ResourceLoader.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveDraftWorkflowTest.java
  src/test/resources/jsonExamples/payloads/formattedPayment.json
  src/test/resources/jsonExamples/payloads/paymentFromCMS.json
  src/test/resources/jsonExamples/payloads/paymentPendingDraft.json
  src/test/resources/jsonExamples/payloads/paymentSystemPaid.json
Labels: ns:div-cos-pr-122

#133 DIV-3814 - removed dependency check suppression
  dependency-check-suppressions.xml
Labels: ns:div-cos-pr-133

#130 Div 3885 add hc timeout
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/HttpConnectionConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/CaseMaintenanceServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/CaseValidationServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/DocumentGeneratorServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/FeatureToggleServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/FeesAndPaymentsServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/IdamApiHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/IdamServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/PaymentServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/SendLetterServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/ServiceAuthProviderHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/WebServiceHealthCheck.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/HealthCheckITest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-130

#136 Changed to new divorcecase court email
  src/integrationTest/resources/draft/complete-case-response.json
  src/integrationTest/resources/draft/complete-petition-draft.json
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:div-cos-pr-136

#135 DIV-3485: Integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CoRespondentCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/RetrieveAosCaseSupport.java
  src/integrationTest/resources/fixtures/maintenance/co-respondent/co-respondent-answers.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/CourtEnum.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DeleteDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SaveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GenericEmailNotificationUTest.java
Labels: ns:div-cos-pr-135
