Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-09, with the labels that each got.

#451 Update gradle to latest for dependency check
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  job-scheduler/build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmail.java
Labels: ns:div-cos-pr-451

#453 Force beanutils 1.9.4 version for dependency-check
  build.gradle
  job-scheduler/build.gradle
Labels: ns:div-cos-pr-453

#447 DIV-5602 Populate date field when daRequested
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaRequestedDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/ApplicantDecreeAbsoluteEligibilityWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaGrantedDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaRequestedDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/ApplicantDecreeAbsoluteEligibilityWorkflowTest.java
Labels: ns:div-cos-pr-447

#448 DIV-5516 - updated chart configs for AAT AKS deployment
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/div-cos/requirements.yaml
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  charts/div-cos/values.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ConnectionCloseExtension.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorPersonalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCasesTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-448

#443 DIV-3877 - enable respondent solicitor feature in AAT
  infrastructure/aat.tfvars
  src/test/resources/application.yml
Labels: ns:div-cos-pr-443

#456 Amend gradle to allow for lombok
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ScheduleBulkCaseForListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDATest.java
Labels: ns:div-cos-pr-456

#446 DIV-5684: using div-common-lib
  build.gradle
  dependency-check-suppressions.xml
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseValidationClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/validation/ValidationRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/validation/ValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnPronouncementDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateCaseDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/DateUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitToCCDWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/validation/ValidationResponseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CalculateSeparationFieldsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateCaseDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitToCCDWorkflowTest.java
Labels: ns:div-cos-pr-446

#459 DIV-5516 - bump chart version to 1.2.0
  charts/div-cos/Chart.yaml
Labels: ns:div-cos-pr-459

#462 Changing fall back date logic
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
Labels: ns:div-cos-pr-462

#464 Changing DN Pronouncement date logic after new decision from business
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/dataextraction/FamilyManDataExtractionIT.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
Labels: ns:div-cos-pr-464

#468 Not adding transformed lines that fail to be transformed. Logging them instead.
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/dataextraction/FamilyManDataExtractionIT.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/transformation/CaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/transformation/CaseIdMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CMSHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CMSHelperTest.java
Labels: ns:div-cos-pr-468

#466 [PREVIEW] Point to CNP Module Webapp
  infrastructure/main.tf
Labels: ns:div-cos-pr-466

#454 DIV-5654 AoS Regenerate pack when having respondent solicitor
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/RemoveCaseFromListingTest.java
  src/integrationTest/resources/fixtures/issue-petition/ccd-callback-solicitor-aos-invitation.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
Labels: ns:div-cos-pr-454

#477 DIV-5753: Loosening CSV DA-specific coupling and refactoring ElasticSearchSupport
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionEmailClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisher.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/transformation/CaseIdMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CMSElasticSearchSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCasesTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionEmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CMSElasticSearchSupportTest.java
Labels: ns:div-cos-pr-477

#333 Moved DGS Court Address Formatter to COS
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/DnCourt.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/DnCourtTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DocumentGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetFormattedDnCourtDetailsTest.java
Labels: ns:div-cos-pr-333

#481 DIV-5753: Implementing factory to select the right implementation of CSVExtractor
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/DataExtractionRequestListener.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractorFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisher.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/dataextraction/FamilyManDataExtractionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/DataExtractionRequestListenerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/dataextraction/FamilyManDataExtractionWorkflowTest.java
Labels: ns:div-cos-pr-481

#483 DIV-5753: Making relevant states variable per CSV extractor strategy
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
Labels: ns:div-cos-pr-483

#480 Add Birmingham DN Court
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/config/DnCourtDetailsConfigValidationTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-480

#487 Removing default terraform e-mails and fixing TF variable
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionEmailClientTest.java
Labels: ns:div-cos-pr-487

#449 update to send specific email on AOS overdue, rather than generic
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AosOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationEmailTest.java
Labels: ns:div-cos-pr-449

#490 DIV-5781: Address Jackson Databind vulnerabilities (CVE-2019-14540 and 16335)
  dependency-check-suppressions.xml
Labels: ns:div-cos-pr-490

#484 DIV-5762 - use java chart v2.6.0 and removed int tests
  charts/div-cos/Chart.yaml
  charts/div-cos/requirements.yaml
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  charts/div-cos/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosSubmittedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CaseListedForHearingCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespReceivedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespondentReceivedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DaAboutToBeGrantedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DaRequestedNotifyRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DnPronouncedDocumentsGeneratedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/RemoveDnOutcomeCaseCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/RemoveLegalAdvisorMakeDecisionFieldsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/UpdateBulkCaseDnPronouncementDateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDATest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/CaseValidationServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyApplicantCanFinaliseDivorceTask.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/HealthCheckITest.java
Labels: ns:div-cos-pr-484

#495 DIV-5762 - added disableLegacyDeployment() to switch deployment to AKS
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/RetryRule.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
Labels: ns:div-cos-pr-495

#474 DIV-5636 Notification when DA Granted to Pet solicitor
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeAbsoluteAboutToBeGrantedWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeAbsoluteAboutToBeGrantedWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-474

#479 DIV-5639: AOS Data Extraction to CSV
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/internal/DataExtractionInternalController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/AOSDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractorFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/internal/DataExtractionInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/AOSDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractorFactoryTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-479

#438 DIV-4664: Updated sols aos logic to choose CCD events depending on case data
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosSubmittedCallbackTest.java
  src/integrationTest/resources/dn-petition.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/domain/SubmitSolicitorAosEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/SolicitorAosEventService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/QueueAosSolicitorSubmitTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/TaskCommons.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflowTest.java
  src/test/resources/jsonExamples/payloads/aosSolicitorNominatedWithoutFieldSet.json
Labels: ns:div-cos-pr-438

#494 DIV-5620: Updated notify applicant task to send email to sol if exists
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyApplicantCanFinaliseDivorceTask.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/ProcessApplicantDAEligibilityTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyApplicantCanFinaliseDivorceTaskTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-494

#471 DIV-5729: Removed logic for sending Resp Sol AOS emails
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosSolicitorNominatedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSolicitorAosInvitationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentSolicitorNominatedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSolicitorAosInvitationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflowTest.java
Labels: ns:div-cos-pr-471

#482 DIV 5641: Decree Nisi data extractor
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/internal/DataExtractionInternalController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/AOSDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractorFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/AOSDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractorTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-482

#502 Remove redundant resp sol aos linking email & redundant @deprecated
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-502

#507 DIV-5762 Removed unwanted integration tests moved some to nightly
  Jenkinsfile_nightly
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/RetryRule.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CaseListedForHearingCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespReceivedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DNReceivedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueCallBackE2ETest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/category/NightlyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/dataextraction/FamilyManDataExtractionIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveAosTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCaseToCCDIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDaCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/OrchestrationServiceApplicationTests.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/GetPetitionIssueFeesITest.java
Labels: ns:div-cos-pr-507

#501 Catering for unexpected data type
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ScheduleBulkCaseForListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/dataextraction/FamilyManDataExtractionIT.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractorTest.java
Labels: ns:div-cos-pr-501

#504 DIV-5621: new endpoint `/validate-da-request`
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/DecreeAbsoluteController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/DecreeAbsoluteService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/DecreeAbsoluteServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/NotifyRespondentOfDARequestedWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/DecreeAbsoluteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/DecreeAbsoluteServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/NotifyRespondentOfDARequestedWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-504

#497 DIV-5720 Add feature toggled change to service centre for solicitor submissions
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDaCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorCourtDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorCourtDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
Labels: ns:div-cos-pr-497

#505 DIV-5822 Add remove dn documents endpoint
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkCaseConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/bulk/BulkCaseCancelPronouncementEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkCaseService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CancelPronouncementDetailsWithinBulk.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveCostOrderDocumentTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveDecreeNisiDocumentTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkCaseCancelPronouncementEventWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveDNDocumentsWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateCaseWithinBulkWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/IdamTestSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/CancelPronouncementBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveCostOrderDocumentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveDecreeNisiDocumentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkCaseCancelPronouncementEventWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveDNDocumentsWorkflowTest.java
Labels: ns:div-cos-pr-505

#512 Improving logs on Data publisher task
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/DataExtractionRequestListener.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/DataExtractionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisher.java
Labels: ns:div-cos-pr-512

#510 Un-ignoring tests and adding instructions to run this locally.
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/dataextraction/FamilyManDataExtractionIT.java
Labels: ns:div-cos-pr-510
