Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-04, with the labels that each got.

#218 Disable prod deployments
  Jenkinsfile_CNP
Labels: ns:div-cos-pr-218

#215 DIV-4571 Update Integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AmendPetitionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveAosTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCaseToCCDIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/resources/fixtures/maintenance/co-respondent/co-respondent-answers.json
  src/integrationTest/resources/fixtures/maintenance/co-respondent/co-respondent-defended-answers.json
  src/integrationTest/resources/fixtures/maintenance/submit/basic-divorce-session.json
  src/integrationTest/resources/fixtures/maintenance/submit/divorce-session-with-court-selected.json
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseWithId.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseByIdUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromStrategicIdamUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromTacticalIdamUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
Labels: ns:div-cos-pr-215

#206 DIV-4383 - check for existing case before submit
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCaseToCCDIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CourtAllocationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DuplicateCaseValidationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitToCCDWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DuplicateCaseValidationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitToCCDWorkflowTest.java
Labels: ns:div-cos-pr-206

#205 DIV-4531: Integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AmendPetitionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/DraftsSubmissionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/DateConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/ResourceLoader.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
Labels: ns:div-cos-pr-205

#217 DDIV-4446 update incorrect resp received test values
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/kubernetes/config.aat.yaml
Labels: ns:div-cos-pr-217

#220 Revert aks pr config
  src/kubernetes/config.aat.yaml
Labels: ns:div-cos-pr-220

#223 Revert "Disable prod deployments"
  Jenkinsfile_CNP
Labels: ns:div-cos-pr-223

#222 Div 4395 - Petitioner: Update email when Respondent submits AOS if no reply from Co-Respondent.
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflowUTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-222

#207 Pre-factor for Generic document task
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/DefaultTaskContext.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/TaskContext.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseFormatterAddDocuments.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/DefaultTaskContextTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseFormatterAddDocumentsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentLetterGeneratorTest.java
Labels: ns:div-cos-pr-207

#221 [PREVIEW] DIV-3956 - reduced logging noise
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/HttpConnectionConfiguration.java
  src/test/resources/logback-test.xml
Labels: ns:div-cos-pr-221

#232 DIV-4663: Improving logs for support investigations.
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdClientSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflow.java
Labels: ns:div-cos-pr-232

#212 DIV-3846: Petitioner to receive notification when ...
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CaseListedForHearingCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdClientSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/fixtures/case-linked-for-hearing/case-linked-for-hearing-error.json
  src/integrationTest/resources/fixtures/case-linked-for-hearing/case-linked-for-hearing.json
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationServiceException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionerCertificateOfEntitlementNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForDefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/DateUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/OriginalCourtAllocator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/OriginalCourtAllocatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CaseLinkedForHearingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionerCertificateOfEntitlementNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflowTest.java
  src/test/resources/application.yml
  src/test/resources/jsonExamples/payloads/caseListedForHearing.json
Labels: ns:div-cos-pr-212

#231 Set ctsc site id as AA07
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveAosTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/integrationTest/resources/draft/complete-case-response.json
  src/integrationTest/resources/draft/complete-petition-draft.json
  src/integrationTest/resources/fixtures/issue-petition/submit-complete-case.json
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/CourtEnum.java
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:div-cos-pr-231

#202 DIV-3772 Added Helm Chart config
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/div-cos/Chart.yaml
  charts/div-cos/requirements.yaml
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  charts/div-cos/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
  src/integrationTest/resources/application.properties
  src/kubernetes/config.aat.yaml
  src/kubernetes/deployment.template.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/OrchestrationServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/helper/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/AuthUtil.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/helper/GlobalExceptionHandlerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AmendPetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DuplicateCaseValidationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromStrategicIdamUTest.java
Labels: ns:div-cos-pr-202

#204 Fix the clock when testing time sensitivity
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCase.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitCoRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCaseUTest.java
Labels: ns:div-cos-pr-204

#200 DIV-3848 Legal advisor notification
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionerClarificationNotificationTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/fixtures/legal-advisor/callback-petitioner-clarification-requested.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/EmailNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerClarificationRequestEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerClarificationRequestNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CoRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionerClarificationNotificationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerClarificationRequestNotificationWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-200

#242 Add Petitioner Emails to be Sent when Co-Respondent submits their response
  dependency-check-suppressions.xml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespReceivedCallbackTest.java
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-undefend-resp-responds.json
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-undefend.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoRespondentRespondedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoRespondentRespondedNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflowTest.java
  src/test/resources/jsonExamples/payloads/genericPetitionerData.json
Labels: ns:div-cos-pr-242

#243 DIV-4679 - update integration test to expect UNAUTHORISED
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
Labels: ns:div-cos-pr-243

#230 Email service refactored
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/EmailNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GenericEmailNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerClarificationRequestEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoRespondentRespondedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/TaskCommons.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTaskUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/EmailNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GenericEmailNotificationUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoRespondentRespondedNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskCommonsTest.java
Labels: ns:div-cos-pr-230

#227 DIV-3775 - make it easier to run integration tests locally
  .gitignore
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
  src/integrationTest/resources/application-aat.properties
  src/integrationTest/resources/application-local.properties
  src/integrationTest/resources/example-application-local.properties
  src/main/resources/example-application-aat.yml
Labels: ns:div-cos-pr-227

#245 Removed feature toggles
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerNotificationEmailTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-245

#219 DIV-4474 - handle issuing after rejected
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueCallBackE2ETest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ResetAosLinkingFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ResetAosLinkingFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflowTest.java
Labels: ns:div-cos-pr-219

#237 Remove personal identifier from logging
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTask.java
Labels: ns:div-cos-pr-237
