Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-06, with the labels that each got.

#285 Bulk Case Update Court Hearing Details
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ScheduleBulkCaseForListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CreateBulkCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdClientSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/resources/fixtures/bulk-list/bulk-create.json
  src/integrationTest/resources/fixtures/bulk-list/bulk-update-listing.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseMaintenanceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkCaseConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/bulk/BulkCaseUpdateCourtHearingEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/exception/BulkUpdateException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkCaseService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateBulkCaseInCcd.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseHearingDetailsWithinBulk.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateBulkCourtHearingDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/DateUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkCaseUpdateHearingDetailsEventWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateBulkCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateCourtHearingDetailsWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ValidateBulkCaseListingWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseHearingDetailsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ValidateBulkCaseListingDataITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateBulkCaseInCcdTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseHearingDetailsWithinBulkTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateBulkCourtHearingDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkCaseUpdateHearingDetailsEventWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateBulkCaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ValidateBulkCaseListingWorkflowTest.java
  src/test/resources/jsonExamples/payloads/bulkCaseCcdCallbackRequest.json
  src/test/resources/jsonExamples/payloads/bulkCaseUpdateCourtHearingDetails.json
Labels: ns:div-cos-pr-285

#279 Adding petitioner related templates
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflowUTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-279

#294 Fix 500 error on Production due to missing mandatory field
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
Labels: ns:div-cos-pr-294

#275 DIV-4867 Divorce scheduler
  .gitignore
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/div-cos/requirements.yaml
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  dependency-check-suppressions.xml
  docker-compose.yml
  docker/database/Dockerfile
  docker/database/init-db.sh
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  job-scheduler/README.md
  job-scheduler/build.gradle
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/config/AutowiringSpringBeanJobFactory.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/config/QuartzConfiguration.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/config/SchedulerConfig.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/config/SchedulerDBConfiguration.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/exception/JobException.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/model/JobData.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/model/Schedule.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/service/CronJobScheduler.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/service/JobService.java
  job-scheduler/src/test/java/uk/gov/hmcts/reform/divorce/scheduler/service/CronJobSchedulerTest.java
  job-scheduler/src/test/java/uk/gov/hmcts/reform/divorce/scheduler/service/JobServiceTest.java
  settings.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CreateBulkCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/OrchestrationServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/AutowiringSpringBeanJobFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/db/OptionalContainerFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/ScheduleTestJob.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/SchedulerService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/FlywayNoOpStrategy.java
  src/main/resources/application.yml
  src/main/resources/db/migration/V001__Schema.sql
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/ScheduleTestJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/ScheduleTestJobScheduleTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/TestJob.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/FlywayNoOpStrategyUTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-275

#299 Fix checkstyle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
Labels: ns:div-cos-pr-299

#259 DIV-3879: Adding callback endpoint to be called just before DN decision is made is CCD
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddDecreeNisiApprovalDateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DefineWhoPaysCostsOrderTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddDecreeNisiApprovalDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DefineWhoPaysCostsOrderTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
Labels: ns:div-cos-pr-259

#305 Set instance size to I3
  infrastructure/main.tf
Labels: ns:div-cos-pr-305

#303 Added RespAnswers and CoRespAnswers link generations for solicitor jo…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnReviewPetitionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorDnFetchDocWorkflowITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflowTest.java
Labels: ns:div-cos-pr-303

#306 Pass in instance size by variable
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:div-cos-pr-306

#307 Added log on CreateBulkCaseJob and AppInsight instrumentation
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/CreateBulkCaseJob.java
Labels: ns:div-cos-pr-307

#309 Keep default constructor for quartz
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/CreateBulkCaseJob.java
Labels: ns:div-cos-pr-309

#304 Mapping moved from D8RespondentCorrespondenceSendToSol
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-solicitor-representation.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCase.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseUTest.java
  src/test/resources/jsonExamples/payloads/aosSolicitorNominated.json
Labels: ns:div-cos-pr-304

#310 DIV-4827 DN Pronouncement Date Calculations
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/UpdateBulkCaseDnPronouncementDateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnGrantedDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/DateUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateBulkCaseDnPronounceWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseDnPronouncementDateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnGrantedDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateBulkCaseDnPronounceWorkflowTest.java
Labels: ns:div-cos-pr-310

#312 Added missing data to fix master
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseUTest.java
Labels: ns:div-cos-pr-312

#311 Log schedule cron
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/service/CronJobScheduler.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CreateBulkCaseTest.java
  src/main/resources/application.yml
Labels: ns:div-cos-pr-311

#290 Callback added to calculate separation fields during solicitor creation
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SeparationFieldsWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CalculateSeparationFieldsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SeparationFieldsWorkflowTest.java
Labels: ns:div-cos-pr-290

#314 Only for Testing
  Jenkinsfile_CNP
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-314

#301 Fix email service to use template name and not ID
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailService.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailServiceTest.java
Labels: ns:div-cos-pr-301

#320 Changed CourtName json value to valid FixedList enum
  src/integrationTest/resources/fixtures/bulk-list/bulk-update-listing.json
Labels: ns:div-cos-pr-320

#313 Div 4825 recovery process
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkCaseConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseIdFromCaseLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnGrantedDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateBulkCourtHearingDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkBulkCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateCourtHearingDetailsWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseHearingDetailsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseIdFromCaseLinkUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnGrantedDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateBulkCourtHearingDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkBulkCaseWorkflowUTest.java
  src/test/resources/application.yml
  src/test/resources/jsonExamples/payloads/cmsBulkCaseCreatedResponse.json
Labels: ns:div-cos-pr-313

#322 Change in sep ref date logic
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFields.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFieldsTest.java
Labels: ns:div-cos-pr-322

#323 Add Court Contact Details to Document Generator Task
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/DnCourtDetailsConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/DnCourt.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetFormattedDnCourtDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/TaskCommons.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/DnCourtTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DocumentGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetFormattedDnCourtDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskCommonsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-323

#315 DIV-5053: OWASP upgrade
  build.gradle
  checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PaymentUpdateCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveAosTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/FeatureToggleServiceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/TacticalIdamClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/idam/Pin.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/idam/PinRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/AuthUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/WebServiceHealthCheckUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/ScheduleTestJobScheduleTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTest.java
Labels: ns:div-cos-pr-315

#321 Div 4943 add minimum cases
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkCaseCreate.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkCaseCreateUTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-321

#324 DIV-4825 Improve var names and log
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflow.java
Labels: ns:div-cos-pr-324

#329 Add new temporal state for bulk creation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkCaseConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkCaseService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImplTest.java
Labels: ns:div-cos-pr-329

#332 Fix integration test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ScheduleBulkCaseForListingTest.java
  src/integrationTest/resources/application.properties
Labels: ns:div-cos-pr-332

#331 DIV-4958 Add outcome checked by LA field
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddDnOutcomeFlagFieldTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetDNOutcomeFlagWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AddDNOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddDNOutcomeFlagTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCasesTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/JsonPathMatcher.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetDNOutcomeFlagWorkflowTest.java
Labels: ns:div-cos-pr-331

#339 DIV-4947 Use new event for Bulk Case DN Pronouncement
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdatePronouncementDateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseDnPronouncementDateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdatePronouncementDateWorkflowTest.java
Labels: ns:div-cos-pr-339

#265 DIV-4631 - send solicitor notification from PFE
  Jenkinsfile_CNP
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CreateBulkCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/fixtures/issue-petition/ccd-callback-solicitor-aos-invitation.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkCaseConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAosPackPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAosPackPrinter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkPrinterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-265

#295 DIV-4630 link respondent solicitor
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorLinkCaseCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CreateBulkCaseTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorLinkCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorLinkCaseWorkflowTest.java
Labels: ns:div-cos-pr-295

#340 Set DN outcome flag on DN approval stage
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetDNOutcomeFlagWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AddDNOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetDNOutcomeFlagWorkflowTest.java
Labels: ns:div-cos-pr-340

#335 Catch exception on test failure
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
Labels: ns:div-cos-pr-335

#342 DIV-4977: updated callback for solicitorStatementOfTruthPaySubmit eve…
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessPbaPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseFormatterClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveMiniPetitionDraftDocumentsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetDNOutcomeFlagWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AddDNOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveMiniPetitionDraftDocumentsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetDNOutcomeFlagWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflowTest.java
Labels: ns:div-cos-pr-342

#345 DIV-4831: Generate Costs Order as long as CLAIM_COSTS_GRANTED field is set
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedDocumentsGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:div-cos-pr-345

#344 Clean state from case data
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/CleanStatusEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseEventService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseEventServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/QueueCleanStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CleanStateFromCaseDataWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CleanStatusCallbackWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CleanStatusCallbackITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseEventServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CleanStateFromCaseDataWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CleanStatusCallbackWorkflowTest.java
Labels: ns:div-cos-pr-344

#348 Fixed notifications for DN Certificate of Entitlement
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/UpdateBulkCaseDnPronouncementDateTest.java
  src/integrationTest/resources/fixtures/case-linked-for-hearing/case-linked-for-hearing-error.json
  src/integrationTest/resources/fixtures/case-linked-for-hearing/case-linked-for-hearing.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnPronouncementDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkCaseUpdateDnPronounceDatesWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseDnPronouncementDateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnPronouncementDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkCaseUpdateDnPronounceDatesWorkflowTest.java
  src/test/resources/jsonExamples/payloads/bulkCaseCcdCallbackRequestNoJudge.json
  src/test/resources/jsonExamples/payloads/caseListedForHearing.json
Labels: ns:div-cos-pr-348

#350 DIV-5097 Add decision date when LA rejects DN
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddDecreeNisiDecisionDateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkCaseCreate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddDecreeNisiDecisionDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkCaseCreateUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
Labels: ns:div-cos-pr-350

#351 Added conditional to generate costs order only when Petitioner cost c…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedDocumentsGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:div-cos-pr-351
