Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-07, with the labels that each got.

#355 Fixed Clock for tests requiring .now()
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFields.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSeparationFieldsTest.java
Labels: ns:div-cos-pr-355

#347 Changed CTSC address to new Digital Divorce address
  src/integrationTest/resources/draft/complete-case-response.json
  src/integrationTest/resources/draft/complete-petition-draft.json
  src/integrationTest/resources/fixtures/callback/paymentUpdate.json
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/Court.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DocumentGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupServiceTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-347

#327 DIV-3264: Update readme
  LICENSE.md
  README.md
Labels: ns:div-cos-pr-327

#354 DIV-5187 Enable schedule by default
  infrastructure/variables.tf
Labels: ns:div-cos-pr-354

#356 Add Care of Prefix back in
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/Court.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupServiceTest.java
Labels: ns:div-cos-pr-356

#346 DIV-5148: remove PMD
  build.gradle
  dependency-check-suppressions.xml
  ruleset.xml
Labels: ns:div-cos-pr-346

#337 DIV-4630 handle multiple sol link
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorLinkCaseCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/StrategicIdamClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/TacticalIdamClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromStrategicIdam.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromTacticalIdam.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorLinkedField.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateExistingSolicitorLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorLinkCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsFromTacticalIdamUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorLinkedFieldTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateExistingSolicitorLinkTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorLinkCaseWorkflowTest.java
Labels: ns:div-cos-pr-337

#353 DIV-5110: Creating endpoint to make a case eligible for DA
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDATest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/MakeCaseEligibleForDecreeAbsoluteWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MakeCaseEligibleForDATest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/MakeCaseEligibleForDecreeAbsoluteWorkflowTest.java
Labels: ns:div-cos-pr-353

#336 Run integration test in parallel
  build.gradle
Labels: ns:div-cos-pr-336

#349 Moving toggle return type to string otherwise it is set as 0 in all t…
  infrastructure/variables.tf
Labels: ns:div-cos-pr-349

#362 DIV-5024: Applicant receives an e-mail notifying that they're now eli…
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/FlagCaseAsEligibleForDAForApplicantCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyApplicantCanFinaliseDivorceTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/ApplicantDecreeAbsoluteEligibilityWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/FlagCaseAsEligibleForDAForPetitionerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyApplicantCanFinaliseDivorceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/ApplicantDecreeAbsoluteEligibilityWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-362

#360 DIV-5111 Add Submit DA Endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDaCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseFormatterClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToDaCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitDaCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitDaCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToDaCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitDaCaseWorkflowUTest.java
Labels: ns:div-cos-pr-360

#366 DIV-5193 Added validation on cost decision
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateDNDecisionTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateDNDecisionTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
Labels: ns:div-cos-pr-366

#359 DIV-5176: Add conditional that won't generate costs order if Petitioner has chosen endClaim
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedDocumentsGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:div-cos-pr-359

#364 DIV-5104: New scheduler job and search service for DA eligible cases
  build.gradle
  infrastructure/main.tf
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDAWorkflowTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/DecreeAbsoluteCaseInternalController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/UpdateDNPronouncedCaseEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/UpdateDNPronouncedCaseEventListener.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/DefaultWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/AsyncTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/DefaultTaskContext.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/TaskContext.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/MakeCasesEligibleForDAJob.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/DecreeAbsoluteService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/SearchSourceFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/DecreeAbsoluteServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDNPronouncedCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateDNPronouncedCasesWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/DecreeAbsoluteCaseInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/UpdateDNPronouncedCaseEventListenerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/MakeCasesEligibleForDAJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/SearchSourceFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/DecreeAbsoluteServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCasesTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDNPronouncedCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateDNPronouncedCasesWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-364

#371 Run wiremock functional tests in the after block of the unit test sec…
  Jenkinsfile_CNP
  README.md
  build.gradle
Labels: ns:div-cos-pr-371

#374 Disable local test caching and show standard test logs
  Jenkinsfile_CNP
  build.gradle
Labels: ns:div-cos-pr-374

#375 DIV-5292 Add null-safety on callback
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateDNDecisionTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateDNDecisionTaskTest.java
Labels: ns:div-cos-pr-375

#352 Added Email to solicitor if the Petitioner Solicitor exists
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CaseListedForHearingCallbackTest.java
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-defend.json
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-received-error.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendCoRespondentGenericUpdateNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerClarificationRequestEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoRespondentRespondedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerGenericUpdateNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentGenericUpdateNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForDefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForUndefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CoRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTaskUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendCoRespondentNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoRespondentRespondedNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerGenericUpdateNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentGenericUpdateNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerClarificationRequestNotificationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflowTest.java
  src/test/resources/application.yml
  src/test/resources/jsonExamples/payloads/genericPetitionerSolicitorData.json
  src/test/resources/jsonExamples/payloads/solCaseListedForHearing.json
Labels: ns:div-cos-pr-352

#372 DIV-5237 set search order.
  infrastructure/aat.tfvars
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCasesTest.java
Labels: ns:div-cos-pr-372

#363 DIV-5108: Add new endpoint and workflow for DA approval
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DaAboutToBeGrantedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/fixtures/da-about-to-be-granted/da-about-to-be-granted-error.json
  src/integrationTest/resources/fixtures/da-about-to-be-granted/da-about-to-be-granted.json
  src/integrationTest/resources/fixtures/da-granted/da-granted-error.json
  src/integrationTest/resources/fixtures/da-granted/da-granted.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaGrantedDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeAbsoluteAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/MakeCaseEligibleForDecreeAbsoluteWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DaAboutToBeGrantedDocumentsGeneration.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeAbsoluteAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaGrantedDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeAbsoluteAboutToBeGrantedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:div-cos-pr-363

#370 Div 5238 search scheduler job improvements
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDAWorkflowTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/DefaultTaskContext.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCasesTest.java
Labels: ns:div-cos-pr-370

#381 Added required subscription param for cnp-module-postgres
  infrastructure/main.tf
Labels: ns:div-cos-pr-381

#379 DIV-5062: Calculating DA-related dates and returning them to CCD.
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessApplicantDAEligibilityCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CalculateDecreeAbsoluteDates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/DateUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/ApplicantDecreeAbsoluteEligibilityWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/ProcessApplicantDAEligibilityTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CalculateDecreeAbsoluteDatesTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/ApplicantDecreeAbsoluteEligibilityWorkflowTest.java
Labels: ns:div-cos-pr-379

#382 DIV-5166: removing endpoint for making case eligible for DA since thi…
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDATest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDAWorkflowTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MakeCaseEligibleForDATest.java
Labels: ns:div-cos-pr-382

#387 Fixed failing da submit test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDaCaseTest.java
Labels: ns:div-cos-pr-387

#383 Fixed application url
  src/main/resources/application.yml
Labels: ns:div-cos-pr-383

#388 Remove duplicates during the case search
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCasesTest.java
Labels: ns:div-cos-pr-388

#390 Bumped dependencycheck version and tidied up suppressions
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:div-cos-pr-390

#376 DIV-5237 Add remove case from bulk functionality
  src/integrationTest/resources/fixtures/bulk-list/bulk-create.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkCaseConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/bulk/BulkCaseAcceptedCasesEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkCaseService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseWithIdTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveLinkTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SyncBulkCaseListTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCasesWithinBulkTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidatedCaseLinkTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkCaseRemoveCasesWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GetCaseWithIdWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkRespondentWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveBulkCaseLinkWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveLinkWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorLinkCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseAcceptedCasesITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RemoveBulkLinkITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseWithIdUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveLinkTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SyncBulkCaseListTaskUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCasesWithinBulkTaskUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidatedCaseLinkTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkCaseRemoveCasesWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GetCaseWithIdWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkRespondentWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveBulkCaseLinkWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorLinkCaseWorkflowTest.java
  src/test/resources/jsonExamples/payloads/removeCaseBulkCaseCallbackRequest.json
Labels: ns:div-cos-pr-376

#391 Fix for bulk cases in a ElasticSearch stuck state
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/BulkWorkflowExecutionResult.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/RetryableBulkCaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImplTest.java
Labels: ns:div-cos-pr-391

#369 DN Answer generation
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DNReceivedTest.java
  src/integrationTest/resources/fixtures/submit-dn/dn-submitted-error.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiAnswersGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DNSubmittedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiAnswersGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTaskUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DNSubmittedWorkflowUTest.java
Labels: ns:div-cos-pr-369

#392 DIV-5194 Upgrade swagger config
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/config/SwaggerConfiguration.java
Labels: ns:div-cos-pr-392

#396 enable the scheduler job MakeCasesEligibleForDA in production
  infrastructure/prod.tfvars
Labels: ns:div-cos-pr-396

#399 changeDomain
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
Labels: ns:div-cos-pr-399

#400 DIV-4630 - Fix solicitor link test and name callback
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorLinkCaseCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSolicitorAosInvitationEmail.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSolicitorAosInvitationEmailTest.java
Labels: ns:div-cos-pr-400
