Repository hmcts/div-case-orchestration-service, pull requests merged in 2019-05, with the labels that each got.

#249 DIV-4602 Added Co-respondent answer received callback
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespondentReceivedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCoRespondentAnswerReceived.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CoRespondentAnswerReceivedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CoRespondentAnswerReceivedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCoRespondentAnswerReceivedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CoRespondentAnswerReceivedWorkflowUTest.java
Labels: ns:div-cos-pr-249

#234 pci-pay changes
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:div-cos-pr-234

#254 Don't do payment update when case state is not AwaitingPayment
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseWithId.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GetCaseWithIdWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GetCaseWithIdWorkflowTest.java
Labels: ns:div-cos-pr-254

#257 Attempt to fix IDAM issue where recently created user is not recognised
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
Labels: ns:div-cos-pr-257

#235 Point to SIDAM
  Jenkinsfile_CNP
  infrastructure/demo.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
Labels: ns:div-cos-pr-235

#263 DIV-4841 - handle NoNoAdmission response in resp notification email task
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendRespondentSubmissionNotificationWorkflowTest.java
  src/test/resources/jsonExamples/payloads/respondentAcknowledgesServiceNotDefendingNotAdmittingDivorce.json
Labels: ns:div-cos-pr-263

#264 DIV-4789: Replace Joda-Time with native Java DateTime based on Clock
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetInconsistentPaymentInfo.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoRespondentRespondedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForDefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCoRespondentAnswerReceived.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetIssueDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CoRespondentAnswerReceivedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetInconsistentPaymentInfoUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCoRespondentAnswerReceivedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetIssueDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflowTest.java
Labels: ns:div-cos-pr-264

#255 DIV-4781: respondent nominate solicitor
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/integrationTest/resources/fixtures/maintenance/submit-aos/aos-solicitor-representation.json
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCase.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseUTest.java
Labels: ns:div-cos-pr-255

#262 Add Co-RespondentAnswers Generator and relevant tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespondentGenerateAnswersTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAnswersGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GenerateCoRespondentAnswersWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/GenerateCoRespondentAnswersITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAnswersGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GenerateCoRespondentAnswersWorkflowTest.java
Labels: ns:div-cos-pr-262

#266 DIV-4860 - update the divorcecase contact email to contactdivorce@...
  src/integrationTest/resources/draft/complete-case-response.json
  src/integrationTest/resources/draft/complete-petition-draft.json
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: ns:div-cos-pr-266

#253 DIV-4626 Create bulk cases
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CreateBulkCaseTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseMaintenanceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/AsynchronousEventConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkCaseConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CaseLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/SearchResult.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/bulk/BulkCaseCreateEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/AsyncTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkCaseService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkCaseCreate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseIdFromCaseLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseWithinBulk.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkBulkCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ProcessAwaitingPronouncementCasesWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/AsyncTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AuthenticateRespondentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkCaseCreateUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseIdFromCaseLinkUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCasesTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseWithinBulkUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/LinkBulkCaseWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ProcessAwaitingPronouncementCasesWorkflowTest.java
  src/test/resources/application.yml
  src/test/resources/jsonExamples/payloads/cmsBulkCaseCreatedResponse.json
Labels: ns:div-cos-pr-253

#251 Petitioner email is not mandatory field
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosReceivedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespReceivedCallbackTest.java
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-received-error.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AosRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSubmittedCallbackWorkflowUTest.java
Labels: ns:div-cos-pr-251

#261 DIV-3847: Created new email to resp when COE is ready
  README.md
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/main.tf
  src/integrationTest/resources/fixtures/case-linked-for-hearing/case-linked-for-hearing-error.json
  src/integrationTest/resources/fixtures/case-linked-for-hearing/case-linked-for-hearing.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForUndefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CaseLinkedForHearingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflowTest.java
  src/test/resources/application.yml
  src/test/resources/jsonExamples/payloads/caseListedForHearing.json
Labels: ns:div-cos-pr-261

#269 DIV-4895 Generic document generation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DocumentGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflowTest.java
Labels: ns:div-cos-pr-269

#284 Fix async test
  build.gradle
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
Labels: ns:div-cos-pr-284

#256 DIV-4633 - Email AOS invitation to respondent's solcitior
  Dockerfile
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosSolicitorNominatedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/fixtures/respond-to-a-divorce/ccd-callback-aos-solicitor-nominated.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ResetCoRespondentLinkingFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ResetRespondentLinkingFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSolicitorAosInvitationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentSolicitorNominatedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ResetCoRespondentLinkingFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ResetRespondentLinkingFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSolicitorAosInvitationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflowTest.java
  src/test/resources/application.yml
  src/test/resources/jsonExamples/payloads/aosSolicitorNominated.json
Labels: ns:div-cos-pr-256

#289 Add await on integration test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CreateBulkCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdClientSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
Labels: ns:div-cos-pr-289

#276 DIV-4906: Updated COE workflow to trigger generic email to Coresp
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendCoRespondentGenericUpdateNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendCoRespondentNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflowTest.java
Labels: ns:div-cos-pr-276

#271 DIV-4835 Fix PMD/checkstyle warnings on gradle build
  build.gradle
  ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosReceivedCallbackTest.java
Labels: ns:div-cos-pr-271

#278 DIV-4883 remove json props
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/OrchestrationServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/CourtDetailsConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/EmailTemplatesConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/courtallocation/CourtAllocationConfigurator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/courtallocation/CourtDistributionConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/courtallocation/DivorceCasesRatio.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/CourtConfigAllocator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/DefaultCourtAllocator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/Court.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/config/courtallocation/CourtAllocationConfiguratorIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/config/courtallocation/CourtAllocationConfiguratorUnitTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/CourtAllocatorOriginalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/DefaultCourtAllocatorFurtherTests.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/EmailServiceTest.java
  src/test/resources/application.yml
  src/test/resources/courtAllocation/config-with-court-weight-and-reasons.json
  src/test/resources/courtAllocation/config-with-court-weight-only.json
Labels: ns:div-cos-pr-278
