Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-06, with the labels that each got.

#810 Wla 464 v1
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshSetPreviousStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/WelshNextEventUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshSetPreviousStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/WelshNextEventUtilTest.java
  src/test/resources/application.yml
Labels: ns:divorce, rel:div-cos-pr-810

#817 Fix aad id + dependencies
  Jenkinsfile_CNP
  build.gradle
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
Labels: ns:divorce, rel:div-cos-pr-817

#816 DIV-6348: D8DerivedRespondentCorrespondenceAddr and D8DerivedRespondentSolicitorAddr
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/BasicCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/DocmosisTemplateVars.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/InvalidDataForTaskException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedLetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/FullNamesDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/PdfDocumentGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedLetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/FullNamesDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTaskTest.java
Labels: ns:divorce, rel:div-cos-pr-816

#819 WLA-514: Decree Nisi stop check updates
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-819

#789 DIV-6313 your da has been granted integration
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DaGrantedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/fixtures/da-granted/da-granted-digital-no.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/DocumentContentFetcherService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedCertificateDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseFormatterAddDocuments.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/AddDaGrantedCertificateToDocumentsToPrintTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/DaGrantedCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/DocumentContentFetcherServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedCertificateDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/AddDaGrantedCertificateToDocumentsToPrintTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/PrepareDataForDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/CaseDataTestHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ObjectMapperTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-789

#805 DIV-6013: Received AOS from co respondent
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessAosOfflineAnswersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/fixtures/co-resp-case/co-resp-aos-answers.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/CoRespondentAosAnswersProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosAnswersProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/CoRespondentAosAnswersProcessorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosAnswersProcessorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-805

#820 DIV-6348: setting respondent or solicitor address for cover letter
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedLetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/ExtractorHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedLetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/ExtractorHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-820

#821 DIV-6348: reuse new utils
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
Labels: ns:divorce, rel:div-cos-pr-821

#822 DIV-6313: Code review
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/TaskContextHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/TaskContextHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/CoRespondentAosAnswersProcessorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-822

#823 DIV-6339: update div-common-lib to '1.1.22'
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaGrantedDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateCaseDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/validation/ValidationResponseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DaAboutToBeGrantedDocumentsGeneration.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaGrantedDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateCaseDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/resources/application.yml
Labels: ns:divorce, rel:div-cos-pr-823

#824 formatting dates for docs: DateUtils.formatDateWithCustomerFacingFormat
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedLetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedLetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTaskTest.java
Labels: ns:divorce, rel:div-cos-pr-824

#825 log.info in BulkPrinterTask to get more details about docs sent to bulk printing
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTask.java
Labels: ns:divorce, rel:div-cos-pr-825

#826 DIV-6313: Updating BulkPrint to except printing bytes to logs
  src/integrationTest/resources/fixtures/da-granted/da-granted-digital-no.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTask.java
Labels: ns:divorce, rel:div-cos-pr-826

#831 DIV-6339: Fixing bulk print document log messages
  build.gradle
  job-scheduler/build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/documentgeneration/GeneratedDocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTaskTest.java
Labels: ns:divorce, rel:div-cos-pr-831

#832 WLA-561: LA refusal clarification (option 2) Auto stop functionality
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshSetPreviousStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshSetPreviousStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/resources/application.yml
Labels: ns:divorce, rel:div-cos-pr-832

#833 WLA-561 DIVORCE: added claim cost order auto stop check
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
Labels: ns:divorce, rel:div-cos-pr-833

#835 Bump gradle to 6.5, removed redundant vuln suppressions
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:divorce, prd:div, rel:div-cos-pr-835

#843 More details displayed in logs when test is broken
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-843

#845 DIV-6348: Making letter generation task tests easier before adding my…
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/FullNamesDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-845

#846 Add logs to Co Respondent cost order flow
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflow.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-846

#849 update file example-application-aat.yml
  src/main/resources/example-application-aat.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-849

#850 DIV-6348 - migrating existing doc generation tasks to new test model
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cms/CmsClientSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/internal/DecreeAbsoluteCaseInternalController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/BasicCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/CoECoverLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/CoRespondentCostOrderCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/CoRespondentCostOrderNotificationCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/DocmosisTemplateVars.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/DefaultWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/TaskCommons.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/FullNamesDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CostOrderCoRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CostOrderCoRespondentSolicitorCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrintTestData.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-850

#815 DIV-5622: Adding trigger for Certificate of entitlement respondent (or solicitor)
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CaseListedForHearingCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/AOSPackOfflineConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CaseFieldConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/CoERespondentCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/CoERespondentSolicitorCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Gender.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Relation.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoELetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentSolicitorLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CaseLinkedForHearingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnDecisionMadeCallbackITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CaseListedForHearingCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoELetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveLegalAdvisorMakeDecisionFieldsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentSolicitorLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/DateUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ListForPronouncementDocGenerationWorkflowUTest.java
  src/test/resources/jsonExamples/payloads/caseListedForHearing.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-815

#854 DIV-5823: there is no solicitor reference for co-resp sol
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/CoRespondentCostOrderNotificationCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CostOrderCoRespondentLetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CostOrderCoRespondentSolicitorCoverLetterGenerationTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CostOrderCoRespondentLetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CostOrderCoRespondentSolicitorCoverLetterGenerationTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-854

#855 Fixing bootRunAat task on new gradle version
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-855

#847 DIV-6382: Updates to 'received AOS offline co-respondent' screen
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessAosOfflineAnswersTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AosPackOfflineService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosPackOfflineServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/CoRespondentAosAnswersProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/CoRespondentAosDerivedAddressFormatterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/FormFieldValuesToCoreFieldsRelayTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AOSPackOfflineAnswersInputTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosPackOfflineServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/CoRespondentAosAnswersProcessorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/CoRespondentAosDerivedAddressFormatterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/FormFieldValuesToCoreFieldsRelayTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-847

#857 DIV-5823: more logs
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-857

#858 DIV-5622: Get Document types method modified to fix error (Respondent solicitor cover letter not sent)
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-858

#860 DIV-5622 use common method for checking party is digital
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflow.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-860

#859 DIV-6317: clean up code
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoECoverLetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoELetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentSolicitorLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CaseListedForHearingCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoECoverLetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoELetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentSolicitorLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/JsonPathMatcher.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-859

#863 DIV-5622: COST_CLAIMED -> COSTS_CLAIM_GRANTED
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoECoverLetterDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoECoverLetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DatesDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentSolicitorLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-863

#861 DIV 6385 updates to received AOS offline respondent screen
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessAosOfflineAnswersTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/CoRespondentAosDerivedAddressFormatterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosDerivedAddressFormatterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/DerivedAddressFormatterHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AOSPackOfflineAnswersInputTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/CoRespondentAosDerivedAddressFormatterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aospack/offline/RespondentAosDerivedAddressFormatterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/DerivedAddressFormatterHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-861

#864 DIV-5622 multi bulk print
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/AOSPackOfflineConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/BulkPrintConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/MultiBulkPrinterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CaseListedForHearingCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/MultiBulkPrinterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CaseLinkedForHearingWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-864

#868 DIV-6137: more unit tests and clean up
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentSolicitorCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-868

#869 DIV-6317: better logs
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/MultiBulkPrinterTask.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-869

#871 DIV-6407: Solicitor reference made optional
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractorTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-871

#867 DIV-6361: Producing respondent answers documents for offline AOS
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessAosPackOfflineAnswers.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AosPackOfflineService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosPackOfflineServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AOSPackOfflineAnswersInputTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosPackOfflineServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/Verificators.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-867

#873 DIV-6412: Made functional tests a little lighter
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/IdamTestSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentSolicitorNominatedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/IssueAosPackOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CaseListedForHearingCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/DaGrantedCallbackTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-873

#874 DIV-6053: email notification to pet solicitor on DN rejection
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/FullNamesDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDnDecisionSolNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerClarificationRequestEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoENotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoRespondentRespondedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerGenericUpdateNotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendSolicitorPersonalServiceEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SolicitorEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyApplicantCanFinaliseDivorceTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyForRefusalOrderTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/NotifyForRefusalOrderWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AosOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DnSubmittedEmailNotificationTaskUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDnDecisionSolNotificationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerClarificationRequestEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoENotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoRespondentRespondedNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerGenericUpdateNotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendSolicitorPersonalServiceEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyApplicantCanFinaliseDivorceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyForRefusalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/PetitionerSolicitorRoleWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/NotifyForRefusalOrderWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-874
