Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-02, with the labels that each got.

#697 Triggering flux
  build.gradle
Labels: ns:divorce, rel:div-cos-pr-697

#698 Revert "RPET38 remove da application date from da extractor"
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
Labels: ns:divorce, rel:div-cos-pr-698

#699 Revert "Revert "RPET38 remove da application date from da extractor""
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
Labels: ns:divorce, rel:div-cos-pr-699

#700 RPET-58: Remove the deprecated enableDockerBuild() configuration
  Jenkinsfile_CNP
Labels: ns:divorce, rel:div-cos-pr-700

#707 fix owasp vulnerability
  build.gradle
  checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/documentgeneration/GenerateDocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractorFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionEmailClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisher.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionEmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DataExtractionWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/NotifyRespondentOfDARequestedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SeparationFieldsWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-707

#705 Rpet 62 respondent unable to dispute costs
  checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetClaimCostsFrom.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetClaimCostsFromTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-705

#710 Adding a demo COS chart config file
  charts/div-cos/Chart.yaml
  charts/div-cos/values.demo.template.yaml
Labels: ns:divorce, rel:div-cos-pr-710

#711 Configuring demo infra
  infrastructure/demo.tfvars
Labels: ns:divorce, rel:div-cos-pr-711

#717 Removed redundant checkstyle config task
  build.gradle
Labels: ns:divorce, rel:div-cos-pr-717

#716 Improve data extraction logging to clearly mention which extractor ha…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisher.java
Labels: ns:divorce, rel:div-cos-pr-716

#718 Fixed DA date calculation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CalculateDecreeAbsoluteDates.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/ProcessApplicantDAEligibilityTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CalculateDecreeAbsoluteDatesTest.java
Labels: ns:divorce, rel:div-cos-pr-718

#719 fix owasp issues
  build.gradle
Labels: ns:divorce, rel:div-cos-pr-719
