Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-04, with the labels that each got.

#769 Update a library
  build.gradle
  charts/div-cos/Chart.yaml
  charts/div-cos/requirements.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
Labels: ns:divorce, rel:div-cos-pr-769

#772 Add Netty vulnerability suppression
  charts/div-cos/Chart.yaml
  charts/div-cos/requirements.yaml
  dependency-check-suppressions.xml
Labels: ns:divorce, rel:div-cos-pr-772

#770 Add unit tests for setCalculatedAmount
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/pay/PaymentItemTest.java
Labels: ns:divorce, rel:div-cos-pr-770

#777 DIV-6313: SendDaGrantedNotificationEmail -> SendDaGrantedNotificationEmailTask
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationEmailWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationEmailWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-777
