Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-07, with the labels that each got.

#875 DIV-6412: Made more tests lighter and more reliable
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentSolicitorNominatedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-875

#881 Upgrading tomcat to deal with dependency vulnerability issue
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-881

#885 DIV-6198: Solicitor amend petition for refusal
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseMaintenanceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CreateAmendPetitionDraftForRefusalFromCaseIdTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SolicitorSubmitCaseToCCDTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorAmendPetitionForRefusalITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CreateAmendPetitionForRefusalFromCaseIdTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SolicitorSubmitCaseToCCDTaskTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-885

#887 DIV-6191: Trigger email to petitioner amend
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerAmendEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/PreviousAmendPetitionStateLoggerHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendPetitionerAmendEmailNotificationWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AmendPetitionNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerAmendEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/PreviousAmendPetitionStateLoggerHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendPetitionerAmendEmailNotificationWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-887

#894 DIV-6198: Call update case with empty case data
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SolicitorSubmitCaseToCCDTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SolicitorSubmitCaseToCCDTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-894

#888 DIV-6199: Bring alternate fees depending on whether the case is being…
  charts/div-cos/values.preview.template.yaml
  lib/AI-Agent.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/FeesAndPaymentsClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/Features.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/OrderSummary.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/fees/OrderSummary.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetAmendPetitionFeeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetPetitionIssueFeeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetOrderSummary.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyForRefusalOrderTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerAmendEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetOrderSummaryWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/NotifyForRefusalOrderWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/GetPetitionIssueFeesITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesAbstractTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestFeatureSwitchedOff.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestFeatureSwitchedOn.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetAmendPetitionFeeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetAmendPetitionFeeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetPetitionIssueFeeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetOrderSummaryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyForRefusalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/PetitionerClarificationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerAmendEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetOrderSummaryWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-888

#895 DIV-6198: Removing 'update case' from workflow
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SolicitorSubmitCaseToCCDTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorAmendPetitionForRefusalITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SolicitorSubmitCaseToCCDTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-895

#896 DIV-6191: more logs
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerAmendEmailTask.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-896

#898 Fixing environment variables
  charts/div-cos/values.aat.template.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-898

#877 Attempt to fix bsp integration tests
  README.md
  build.gradle
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-877

#904 using renamed template FL-DIV-LET-ENG-00358 ->FL-DIV-LET-ENG-00358A
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CostOrderCoRespondentCoverLetterGenerationTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CostOrderCoRespondentCoverLetterGenerationTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-904

#907 DIV-6191 Trigger email to petitioner amend
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerAmendEmailTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerAmendEmailTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-907

#903 Div 6196 Email petitioner and solicitor amend application received
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTask.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTaskTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-903

#906 DIV-6388: feature toggle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AosOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-906

#909 disabling failing functional test
  charts/div-cos/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-909

#911 WLA-494: Enable failing tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-911

#901 DIV-6198: Retaining petitioner solicitor details + Integration test for /solicitor-amend-petition-dn-rejection
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SolicitorAmendPetitionForRefusalTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data-dn-rejection.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CaseFieldConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyPetitionerSolicitorDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyPetitionerSolicitorDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-901

#913 Equalising properties files after the Welsh team's change
  src/main/resources/example-application-aat.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-913

#908 DIV-6191 Use ccd case id instead of d8caseReference
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerAmendEmailTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AmendPetitionNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerAmendEmailTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-908

#912 DIV-6440: Identify and log cases that are eligible to be moved to AOSOverdue
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDATest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/internal/AosInternalController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/domain/AosOverdueRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AosOverdueRequestListener.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/AosOverdueJob.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AosService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/SearchSourceFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ModifyDueDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchCasesDAOverdueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkAosCasesAsOverdueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CMSElasticSearchSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ProcessAwaitingPronouncementCasesWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateDAOverdueWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateDNPronouncedCasesWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosSubmissionWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/internal/AosInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AosOverdueRequestListenerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MakeCasesDAOverdueITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/AosOverdueJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/SearchSourceFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchCasesDAOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCasesTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkAosCasesAsOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CMSElasticSearchSupportTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ProcessAwaitingPronouncementCasesWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosSubmissionWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-912

#902 DIV-6198: Setting amended case id in old case when amending case
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetAmendedCaseIdTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorAmendPetitionForRefusalITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyPetitionerSolicitorDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetAmendedCaseIdTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-902

#919 DIV-6431: POST /received-service-added-date
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ReceivedServiceAddedDateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AmendPetitionForRefusalWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AmendPetitionWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ReceivedServiceAddedDateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ReceivedServiceAddedDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ReceivedServiceAddedDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/Verificators.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ReceivedServiceAddedDateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-919

#918 DIV-6196: Add solicitor task to email trigger
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-918

#922 DIV-6431: added logs and more unit tests
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ReceivedServiceAddedDateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ReceivedServiceAddedDateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-922

#924 DIV-6196: better logs
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTask.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-924

#933 Fixing broken master pipeline
  src/integrationTest/resources/fixtures/issue-petition/solicitor-petition.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-933

#928 DIV-6196: 'solicitor name' var for email APPLIC_SUBMISSION_AMEND_SOLICITOR
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-928

#925 DIV-6438: Moving eligible cases to AOS Overdue
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/ElasticSearchTestHelper.java
  src/integrationTest/resources/fixtures/issue-petition/submit-complete-case.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AosOverdueRequestListener.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/AosOverdueJob.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AosService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkAosCasesAsOverdueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueEligibilityWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AosOverdueRequestListenerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/AosOverdueJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueEligibilityWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-925

#934 DIV-6236: CcdCallbackResponse.state added
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CcdCallbackResponse.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-934

#936 DIV-6196: when new case and no pet email - don't send email at all
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-936

#937 DIV-6196: empty email - don't send
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-937

#939 Removing duplicate court information.
  build.gradle
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-939

#941 DIV-5411: rename serviceApplicationGranted -> ServiceApplicationGranted
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/MakeServiceDecisionDateTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MakeServiceDecisionDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/MakeServiceDecisionDateTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-941
