Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-12, with the labels that each got.

#1161 DIV-6653: Run startAos for new states
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdStates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1161

#1162 Updates to fix dependency issue
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1162

#1165 Fixing dependency vulnerabilities
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1165

#1167 Fixing dependency vulnerabilities
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1167

#1164 DIV-6545:Bump divCommonLib to 1.2.4
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1164

#1168 Div 6653 Allow co-respondent to submit AOS from new states
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCase.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCaseUTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1168

#1160 DIV-6643: Extending the AOS overdue job (alternative method)
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/alternativeservice/AlternativeServiceType.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/domain/AosOverdueForAlternativeMethodCaseEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AosOverdueEventListener.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AosService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueForAlternativeServiceCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AosOverdueEventListenerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueForAlternativeServiceCaseWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1160

#1171 DIV-6699: we must use values from last element of 'ServiceApplications' collection
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/Conditions.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/ServiceDecisionMadeWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMadeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/ConditionsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/ServiceDecisionMadeWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1171

#1173 DIV-6699: Using last element from collection instead of simple case data fields
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/Conditions.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorDnFetchDocTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/ConditionsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/ServiceDecisionMadeWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1173

#1176 Upgrading guava
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1176
