Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-11, with the labels that each got.

#1127 DIV-6523: added callback endpoint 'POST /confirm-alternative-service'
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AlternativeServiceService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AlternativeServiceServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ModifyDueDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ModifyDueDateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForDefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmAlternativeServiceWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentSolicitorNominatedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/alternativeservice/ConfirmAlternativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/IssueAosPackOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AlternativeServiceServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ModifyDueDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/DateCalculator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmAlternativeServiceWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/SetupConfirmServicePaymentWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/MakeServiceDecisionWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/ReceivedServiceAddedDateWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/SetupGeneralReferralPaymentWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1127

#1120 TA-151: Extend payment tests to cater for error codes
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/payments/CreditAccountPaymentsConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/referencedata/PbaClientConsumerTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1120

#1084 TA-137-Spike - Initial
  Jenkinsfile_nightly
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/nightly/pipeline/RemoveCaseFromListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/nightly/pipeline/ScheduleBulkCaseForListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/nightly/pipeline/AmendPetitionForRefusalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/nightly/pipeline/MakeCaseEligibleForDATest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1084

#1128 DIV-5908: Getting rid of bean that already existed in the div-common-lib
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/DocumentGeneratorClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/documentgeneration/DocumentUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/documentgeneration/GeneratedDocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/TaskContextHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/DocumentContentFetcherService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/PdfDocumentGenerationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddMiniPetitionDraftTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddNewDocumentsToCaseDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAnswersGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiAnswersGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAnswersGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceDecisionOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderDraftTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/mapper/CcdMappers.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/TaskContextHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/GenerateCoRespondentAnswersITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CaseListedForHearingCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/DaGrantedCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/DocumentContentFetcherServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddMiniPetitionDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddNewDocumentsToCaseDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAnswersGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiAnswersGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MultipleDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAnswersGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceDecisionOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/TaskTestHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/MakeServiceDecisionWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/ReceivedServiceAddedDateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1128

#1139 Fix broken pipeline
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1139

#1140 DIV-6522: new endpoint
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AlternativeServiceService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/ServiceJourneyEmailTaskHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AlternativeServiceServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/AlternativeServiceDueDateSetterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/AwaitingDnPetitionerEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/AwaitingDnPetitionerSolicitorEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/AosNotReceivedForProcessServerWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmAlternativeServiceWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/alternativeservice/AosNotReceivedForProcessServerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AlternativeServiceServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/AlternativeServiceDueDateSetterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/AwaitingDnPetitionerEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/AwaitingDnPetitionerSolicitorEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/AosNotReceivedForProcessServerWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmAlternativeServiceWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1140

#1135 DIV-6176: Confirm process server service
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AlternativeServiceService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AlternativeServiceServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralApplicationFeeLookupTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/alternativeservice/ConfirmProcessServerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AlternativeServiceServiceImplTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1135

#1138 Div 6508 return to previous state before general referral
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdStates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/GeneralReferralService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralSetPreviousCaseStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/GeneralReferralHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/GeneralReferralWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferral/GeneralReferralTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferral/ReturnToStateBeforeGeneralReferralTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralSetPreviousCaseStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/GeneralReferralHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/GeneralReferralWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1138

#1142 DIV-6177: Mark journey as served by process server
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/MarkJourneyAsServedByProcessServerTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmAlternativeServiceWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/alternativeservice/ConfirmProcessServerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/MarkJourneyAsServedByProcessServerTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmAlternativeServiceWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1142

#1144 Using apache commons empty space.
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/DnCourt.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/courts/DnCourtTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetFormattedDnCourtDetailsTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1144

#1146 DIV-6180-Bumping-up-version-to-v1.2.1-for process-server-service
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1146

#1147 DIV-6522: Send email when CcdFields.SERVED_BY_PROCESS_SERVER = YES
  README.md
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/AwaitingDnPetitionerEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/alternativeservice/AwaitingDnPetitionerSolicitorEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/AosNotReceivedForProcessServerWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/alternativeservice/AosNotReceivedForProcessServerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/AosNotReceivedForProcessServerWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1147

#1153 DIV-6522: added PET_SOL_AWAITING_DN_SERVED_BY_PROCESS to application.yml
  src/main/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1153

#1155 DIV-6627: Recording multiple HWF payments and multiple PBA fee account in ccd
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CaseFieldConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/ReferenceNumber.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/GeneralReferralService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/ServiceJourneyService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FurtherPaymentTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/FurtherHWFPaymentTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/FurtherPBAPaymentTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/FurtherPaymentsHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/GeneralReferralHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/FurtherPaymentWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferral/GeneralReferralPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ConfirmServicePaymentTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FurtherPaymentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/FurtherHWFPaymentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/FurtherPBAPaymentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/FeesAndPaymentHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/GeneralReferralUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/FurtherPaymentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/FurtherPaymentWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1155

#1157 DIV-6178: Made performance improvements to use less RAM memory
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/ElasticSearchTestHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/SearchResult.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/AsyncTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/AutoPublishingAsyncTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/SelfPublishingAsyncTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CancelPronouncementDetailsWithinBulk.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/QueueAosSolicitorSubmitTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/QueueCleanStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchCasesDAOverdueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDNPronouncedCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseHearingDetailsWithinBulk.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCasePronouncementDateWithinBulk.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseRemovePronouncementDetailsWithinBulkTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseWithinBulk.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCasesWithinBulkTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CMSElasticSearchSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/elasticsearch/CMSElasticSearchIterator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/elasticsearch/CMSElasticSearchSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/AutoPublishingAsyncTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/SelfPublishingAsyncTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MakeCasesDAOverdueITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchCasesDAOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchDNPronouncedCasesTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDNPronouncedCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseHearingDetailsWithinBulkTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCasePronouncementDateWithinBulkTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseRemovePronouncementDetailsWithinBulkTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateDivorceCaseWithinBulkUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CMSElasticSearchSupportTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/elasticsearch/CMSElasticSearchIteratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/elasticsearch/CMSElasticSearchSupportTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/elasticsearch/CMSElasticSearchUtils.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1157

#1159 DIV-6178: Trying to make tests a little easier and clearer
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/elasticsearch/CMSElasticSearchSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/elasticsearch/CMSElasticSearchSupportTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/elasticsearch/CMSElasticSearchUtils.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1159
