Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-09, with the labels that each got.

#994 Fixing issue pointed out by Sonar
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/DocumentContentFetcherService.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-994

#999 Handled a few warnings
  hs_err_pid36539.log
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/GenericCourtWeightedDistributorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddCourtsToPayloadTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MultipleDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/AosOverdueCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionEmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosNotReceivedWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-999

#997 DIV-6500: Add General Letter Templates
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-997

#1000 RPET436: bump ccdStoreClient to 4.7.3
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1000

#1002 DIV-6142: use ccd case id and not family man id
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/AbstractGeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftRemovalTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1002

#1004 DIV-6142: generalOrder -> GeneralOrder
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1004

#1007 DIV-6142: refactoring
  hs_err_pid36539.log
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/exception/GeneralOrderServiceException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/FieldsRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/RemovalFieldTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/GeneralOrderService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralOrderDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralOrderServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftFieldsRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalorder/GenerateGeneralOrderDraftWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalorder/GenerateGeneralOrderWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/FieldsRemovalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseHearingDetailsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralOrderServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CostOrderCoRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CostOrderCoRespondentSolicitorCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/AosOverdueCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrintTestData.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentSolicitorLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedCitizenLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedSolicitorLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentSolicitorCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/MultiBulkPrinterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/AbstractGeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftRemovalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/MakeServiceDecisionDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ReceivedServiceAddedDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceDecisionOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalDraftRemovalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/TaskContextHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalorders/GenerateGeneralOrderDraftWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalorders/GenerateGeneralOrderWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendPetitionerAmendEmailNotificationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1007

#1005 [FAST] BulkScanController fully covered in unit tests
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1005

#1008 DIV-6142: Judge Type Lookup
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/JudgeTypesConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/exception/JudgeTypeNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/JudgeTypesLookupService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/JudgeTypesLookupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/AbstractGeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTaskTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1008

#1011 remove @Deprecated code
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformerFactory.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/advice/GlobalControllerFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/fees/FeeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/parties/DivorcePartyTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/pay/PaymentItemTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AosOverdueRequestListenerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/DataExtractionRequestListenerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/AosOverdueJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/DataExtractionJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/MakeCasesDAOverdueJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/MakeCasesEligibleForDAJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/DocumentTemplateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtLookupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/DataExtractionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/DecreeAbsoluteServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CalculateDecreeAbsoluteDatesTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseWithIdMapFlowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseWithIdUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateDNDecisionTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/CSVExtractorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionFileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskCommonsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GetCaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveAosCaseWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateDAOverdueWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateDNPronouncedCasesWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosSubmissionWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1011

#1016 DIV-6441: Scheduler fix
  build.gradle
  job-scheduler/build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/AosOverdueJob.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1016

#1006 DIV-6145-Updating-document-names-to-follow-convention
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DeemedServiceRefusalOrderTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DispensedServiceRefusalOrderDraftTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DispensedServiceRefusalOrderTask.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1006

#1017 DIV-6441: Making decision to enable scheduler not a default one
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1017

#1018 DIV-6526: general orders complex type in collection and clean temp vars
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DivorceGeneralOrder.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/GeneralOrderParty.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralOrderDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/ExtractorHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderFieldsRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalorder/GenerateGeneralOrderWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderDraftTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralOrderDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/ExtractorHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/AbstractGeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderFieldsRemovalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalorders/GenerateGeneralOrderWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1018

#1026 Increase AOSOverdue test timeout
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionEmailClientTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1026

#1020 DIV-6543: Making AOS Overdue grace period configurable
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkAosCasesAsOverdueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CMSElasticSearchSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseOrchestrationValues.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkAosCasesAsOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseOrchestrationValuesTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1020

#1024 DIV-6502: 'correspondent' to 'corespondent'
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ListElements.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/EmailDataExtractor.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1024

#1019 DIV-6531: Allow to trigger link-respondent from ServiceApplicationNotApproved
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1019

#1027 DIV-6539: Writing test suite to make sure jobs can be instantiated and started by Spring
  build.gradle
  charts/div-cos/Chart.yaml
  charts/div-cos/values.preview.template.yaml
  charts/div-cos/values.yaml
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/config/AutowiringSpringBeanJobFactory.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/config/QuartzConfiguration.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/config/SchedulerConfig.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/config/SchedulerDBConfiguration.java
  job-scheduler/src/main/java/uk/gov/hmcts/reform/divorce/scheduler/model/Schedule.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/AosOverdueJob.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/ScheduleTestJob.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ModifyDueDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/FlywayNoOpStrategy.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/CreateBulkCaseJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/MakeCasesDAOverdueJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/ScheduleTestJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/quartz/AosOverdueJobQuartzTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/quartz/CreateBulkCaseJobQuartzTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/quartz/DataExtractionJobQuartzTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/quartz/MakeCasesEligibleForDAJobQuartzTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/quartz/QuartzTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/ScheduleTestJobScheduleTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/TestJob.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/FlywayNoOpStrategyUTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1027

#1028 DIV-6502-Improve logging
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GeneralEmailWorkflow.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1028

#969 Rpet 263 upgrade to java 11
  Dockerfile
  README.md
  build.gradle
  checkstyle.xml
  job-scheduler/build.gradle
  lombok.config
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/courtallocation/FactSpecificCourtWeightedDistributorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/CancelPronouncementBulkCaseITest.java
  src/test/resources/4012.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-969

#1031 Remove specific solicitor names to be more generic
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/GeneralEmailTaskHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/GeneralEmailTaskHelperTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1031

#1032 RPET-263: update libs to use versions upgraded to java 11
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1032

#1030 Increasing timeout on awaitility tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDATest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/ElasticSearchTestHelper.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1030

#1039 Forcing dependencies to stop Java 11 issue
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1039

#1041 Fixing fees integration test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1041

#1034 DIV-6564 Update current naming convention for service refusal documents
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1034

#1029 DIV-6557: Setting the default grace period to be zero days.
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseOrchestrationValuesTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1029

#1038 DIV-6566-Adding-Service-Application-documents-to new-collection
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceDecisionOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderDraftTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMadeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMakingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DeemedServiceOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DeemedServiceRefusalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DispensedServiceRefusalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/OrderToDispenseGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceDecisionOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ServiceApplicationTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/TaskTestHelper.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1038

#1042 DIV-6496: Refactoring code so that it's easier to add new reusable tasks to old…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/constants/TaskContextConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseDataToDivorceFormatter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyPetitionerSolicitorDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MarkJourneyAsOffline.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetAmendedCaseIdTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetFormattedDnCourtDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidatedCaseLinkTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GetCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveBulkCaseLinkWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveAosCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosSubmissionWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseDataToDivorceFormatterUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyPetitionerSolicitorDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MarkJourneyAsOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MultipleDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetAmendedCaseIdTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetFormattedDnCourtDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidatedCaseLinkTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GetCaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveAosCaseWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1042
