Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-01, with the labels that each got.

#658 fix owsap and suppression file issues
  build.gradle
  security.sh
Labels: ns:divorce, rel:div-cos-pr-658

#659 [FAST] Added suppression for bulk scan directory to get master green
  build.gradle
Labels: ns:divorce, rel:div-cos-pr-659

#660 Fixed incorrect path for sonar exclusions
  build.gradle
Labels: ns:divorce, rel:div-cos-pr-660

#653 BSP-120: AOS Pack 2 - 2 year separation
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/bulk/scan/BulkScanIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/BulkScanForms.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/AosPackOfflineFormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosPackOfflineCaseValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactory.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/UpdateBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosPackOfflineFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformations/BulkScanFormTransformerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosPackOfflineCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactoryTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/aos/fullAosPackOfflineForm.json
  src/test/resources/jsonExamples/payloads/bulk/scan/basicForm.json
  src/test/resources/jsonExamples/payloads/bulk/scan/d8/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/d8/partialD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/d8/validation/incompleteForm.json
  src/test/resources/jsonExamples/payloads/bulk/scan/d8/validation/warningsD8Form.json
Labels: ns:div-cos-pr-653, ns:divorce, rel:div-cos-pr-653

#661 Made Gradle file sparkling clean
  build.gradle
Labels: ns:divorce, rel:div-cos-pr-661

#662 BSP-110: Section 11 - Statement of truth
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosPackOfflineFormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkScanService.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosPackOfflineFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/d8/fullD8Form.json
Labels: ns:divorce, rel:div-cos-pr-662

#668 BSP-120: Fixed duplicate error message appearing from aos validation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosPackOfflineCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosPackOfflineCaseValidatorTest.java
Labels: ns:divorce, rel:div-cos-pr-668

#663 BSP-181: Implement logic behind update case endpoint
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/bulk/scan/BulkScanIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/UpdateBulkScanITest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/aos/aosPackOfflineForm.json
  src/test/resources/jsonExamples/payloads/bulk/scan/aos/fullAosPackOfflineForm.json
  src/test/resources/jsonExamples/payloads/bulk/scan/aos/invalidAosPackOfflineForm.json
Labels: ns:divorce, rel:div-cos-pr-663

#671 BSP-119: Rename AosPackOffline to 2 Year Separation
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/bulk/scan/BulkScanIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/BulkScanForms.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosOffline2YrSepFormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOffline2yrSepCaseValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactory.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/UpdateBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosOffline2YrSepFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOffline2yrSepCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidatorFactoryTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/aos/2yearSeparation/aosOffline2yrSep.json
  src/test/resources/jsonExamples/payloads/bulk/scan/aos/2yearSeparation/invalidAosOffline2yrSep.json
  src/test/resources/jsonExamples/payloads/bulk/scan/aos/5yearSeparation/aosOffline5yrSep.json
  src/test/resources/jsonExamples/payloads/bulk/scan/aos/5yearSeparation/invalidAosOffline5yrSep.json
Labels: ns:divorce, rel:div-cos-pr-671

#669 BSP-178: Change to D8PetitionerCorrespondenceUseHomeAddress validation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidatorTest.java
Labels: ns:divorce, rel:div-cos-pr-669

#652 BSP-105: section 7
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/d8/fullD8Form.json
Labels: ns:div-cos-pr-652, ns:divorce, rel:div-cos-pr-652

#677 Updating sonar path
  build.gradle
Labels: ns:divorce, rel:div-cos-pr-677

#678 BSP-141: validation added to transformation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
Labels: ns:divorce, rel:div-cos-pr-678

#670 BSP-177: D8PetitionerNameChangedHowOtherDetails
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidatorTest.java
Labels: ns:divorce, rel:div-cos-pr-670

#683 BSP-164: Changing the name the case creation event (Bulk scanning)
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/bulkscan/BulkScanEvents.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
Labels: ns:divorce, rel:div-cos-pr-683

#682 BSP-180: validation on update and transform
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/helper/BulkScanHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOffline2yrSepCaseValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOffline5yrSepCaseValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkScanService.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/UpdateBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosOffline2YrSepFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosOffline5YrSepFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosOfflineAdulteryCoRespFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosOfflineAdulteryFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/AosOfflineBehaviourDesertionFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOffline2yrSepCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOffline5yrSepCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOfflineAdulteryCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOfflineAdulteryCoRespCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOfflineBehaviourDesertionCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidatorTest.java
Labels: ns:divorce, rel:div-cos-pr-682

#688 D8SolicitorsFirmStatementOfTruth should be optional
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidatorTest.java
Labels: ns:divorce, rel:div-cos-pr-688

#693 FIX-Spring suppression CVE-2020-5398
  dependency-check-suppressions.xml
Labels: ns:divorce, rel:div-cos-pr-693

#692 Hotfix to update max http connections to 25
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/HttpConnectionConfiguration.java
  src/main/resources/application.yml
Labels: ns:divorce, rel:div-cos-pr-692

#687 Updating ctsc opening hours
  src/integrationTest/resources/draft/complete-case-response.json
  src/integrationTest/resources/draft/complete-petition-draft.json
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/main/resources/application.yml
  src/test/resources/application.yml
  src/test/resources/jsonExamples/expectedCourts.json
Labels: ns:divorce, rel:div-cos-pr-687

#690 RPET38 remove da application date from da extractor
  charts/div-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/dataextraction/DataExtractionToFamilyManTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeAbsoluteDataExtractorTest.java
Labels: ns:divorce, rel:div-cos-pr-690
