Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-03, with the labels that each got.

#726 fix owasp netty issues
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:divorce, rel:div-cos-pr-726

#725 Updated logging to not break azure alert
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/ExtractedDataPublisher.java
Labels: ns:divorce, rel:div-cos-pr-725

#727 Adding logs to BSP transformation endpoint.
  .editorconfig
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
Labels: ns:divorce, rel:div-cos-pr-727

#728 Adding more logs (temporarily)
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
Labels: ns:divorce, rel:div-cos-pr-728

#730 Made changes to D8 form to conform to what CCD expects to receive fro…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/BulkScanFormValidator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidator.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidatorTest.java
  src/test/resources/jsonExamples/payloads/bulk/scan/d8/fullD8Form.json
  src/test/resources/jsonExamples/payloads/bulk/scan/d8/validation/warningsD8Form.json
Labels: ns:divorce, rel:div-cos-pr-730

#732 Fixing typo in field name
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
Labels: ns:divorce, rel:div-cos-pr-732

#733 Adjusting possible values of D8legalProcess to match the expected by CCD
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/transformation/D8FormToCaseTransformerTest.java
Labels: ns:divorce, rel:div-cos-pr-733

#735 BSP-333: functional(ish) test for invalid data exception in transform…
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
Labels: ns:divorce, rel:div-cos-pr-735

#734 Removing unnecessary logs
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
Labels: ns:divorce, rel:div-cos-pr-734

#737 Code cleanup
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/bulk/scan/BulkScanIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosSubmittedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CoRespondentGenerateAnswersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DaAboutToBeGrantedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/EditBulkCaseListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueCallBackE2ETest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionSubmissionNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionerClarificationNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionerClarificationSubmittedNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessPbaPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/RemoveCaseFromListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorLinkCaseCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AmendPetitionForRefusalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AmendPetitionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveAosTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCaseToCCDIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDaCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/UpdateCaseInCCDIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/RetrieveAosCaseSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/integrationTest/resources/draft/complete-case-response.json
  src/integrationTest/resources/draft/complete-petition-draft-expected.json
  src/integrationTest/resources/draft/complete-petition-draft.json
  src/integrationTest/resources/fixtures/maintenance/submit/basic-divorce-session.json
  src/integrationTest/resources/fixtures/solicitor/ccd-request-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/DataExtractionController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/DecreeAbsoluteController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/internal/DecreeAbsoluteCaseInternalController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/MakeCasesDAOverdueJob.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/MakeCasesEligibleForDAJob.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateExistingSolicitorLink.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AOSPackOfflineAnswersInputTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/UpdateBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/AosOffline2yrSepCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddMiniPetitionDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionEmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-737

#736 WLA-329: Welsh template substitutions
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/TemplateConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/WelshMonthTranslation.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/TemplateConfigService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/TemplateConfigServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForDefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationForUndefendedDivorceEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyForRefusalOrderTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/LocalDateToWelshStringConverter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/config/TemplateConfigTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AosOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CoRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/TemplateConfigServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddDecreeNisiDecisionDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyForRefusalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/LocalDateToWelshStringConverterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosSubmissionWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendCoRespondSubmissionNotificationWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, rel:div-cos-pr-736

#743 Add API operation annotation to all endpoints to make them clearer
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseFormatterClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseMaintenanceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/DocumentGeneratorClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/FeatureToggleServiceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/FeesAndPaymentsClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/PaymentClient.java
Labels: ns:divorce, rel:div-cos-pr-743

#749 Wla 329 welsh template substitutions
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmail.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmailTest.java
Labels: ns:divorce, rel:div-cos-pr-749

#745 Div case orchestration service demo welsh
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmail.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaGrantedNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCertificateOfEntitlementNotificationEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCertificateOfEntitlementNotificationEmailTest.java
Labels: ns:divorce, rel:div-cos-pr-745
