Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-05, with the labels that each got.

#778 Upgrading packages
  build.gradle
  charts/div-cos/Chart.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/scan/validation/D8FormValidator.java
Labels: ns:divorce, rel:div-cos-pr-778

#785 Wla 462
  charts/div-cos/Chart.yaml
  charts/div-cos/values.preview.template.yaml
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/EventConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAnswersGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/config/EventConfigTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/resources/application.yml
Labels: ns:divorce, rel:div-cos-pr-785

#788 Remove ff4j and switch to env variable for bulkprint
  build.gradle
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/FeatureToggleServiceClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ff4j/FeatureToggle.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/management/monitoring/health/FeatureToggleServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkPrintService.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/IssueAosPackOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/BulkPrintServiceTest.java
  src/test/resources/application.yml
Labels: ns:divorce, rel:div-cos-pr-788

#787 Cleanup infra
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
Labels: ns:divorce, rel:div-cos-pr-787

#792 DIV-6313: updated example-application-aat.yml
  src/main/resources/example-application-aat.yml
Labels: ns:divorce, rel:div-cos-pr-792

#782 DIV-6313: your da has been granted
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/AOSPackOfflineConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/Features.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/DaGrantedLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/DocmosisTemplateVars.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/bulk/print/RequestTemplateVarsWrapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/exception/FetchingDocumentFromDmStoreException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/InvalidDataForTaskException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/DocumentContentFetcherService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/PdfDocumentGenerationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CtscContactDetailsDataProviderService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedCertificateDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedLetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/StringHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaRequestedDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/AddDaGrantedCertificateToDocumentsToPrintTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoRespondentAosPackPrinterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/PrepareDataForDocumentGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/RespondentAosPackPrinterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/ApplicantDecreeAbsoluteEligibilityWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/DecreeAbsoluteAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationEmailWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/DocumentContentFetcherServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/PdfDocumentGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CtscContactDetailsDataProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedCertificateDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DaGrantedLetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/StringHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/AddDaGrantedCertificateToDocumentsToPrintTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoRespondentAosPackPrinterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DaGrantedLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/PrepareDataForDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/RespondentAosPackPrinterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RespondentSolicitorNominatedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/DecreeAbsoluteAboutToBeGrantedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationEmailWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/notification/SendDaGrantedNotificationWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, rel:div-cos-pr-782

#793 Improve int tests and code business logic
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/resources/fixtures/issue-petition/ccd-callback-aos-invitation.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTaskTest.java
Labels: ns:divorce, rel:div-cos-pr-793

#806 revert update of code that was displaying an error in CCD UI
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTaskTest.java
Labels: ns:divorce, rel:div-cos-pr-806

#803 added feature flag to example-application.yml config file
  src/main/resources/example-application-aat.yml
Labels: ns:divorce, rel:div-cos-pr-803

#807 RPET-234: Returning check about bulk print documents matching the expected types
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/resources/fixtures/issue-petition/ccd-callback-aos-invitation-service-centre-with-coRespondent.json
  src/integrationTest/resources/fixtures/issue-petition/ccd-callback-aos-invitation.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BulkPrinterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflowTest.java
Labels: ns:divorce, rel:div-cos-pr-807

#808 Wla 462 trial
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshContinueInterceptTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshContinueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshSetPreviousStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/WelshNextEventUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/WelshContinueInterceptWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/WelshSetPreviousStateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshContinueInterceptTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshContinueTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/WelshSetPreviousStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/WelshNextEventUtilTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/WelshContinueInterceptWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/WelshSetPreviousStateWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, rel:div-cos-pr-808
