Repository hmcts/div-case-orchestration-service, pull requests merged in 2020-10, with the labels that each got.

#1040 DIV-6208: Adding PRD client
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/PBAValidationClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/pay/validation/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/pay/validation/DxAddressResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/pay/validation/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/pay/validation/PBAOrganisationResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/pay/validation/SuperUserResponse.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1040

#1043 Spring boot version raised up to fix security vulnerabilities
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1043

#1045 Upgrade AzureRM to 2.x
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:divorce, prd:div, rel:div-cos-pr-1045

#1047 DIV-6496: Changing enum representation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ListElements.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/GeneralOrderParty.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1047

#1046 Div 6208 Retrieve PBA numbers for solicitor
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/PbaValidationClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/ListItem.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/SolicitorService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetPbaNumbersTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/ControllerUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrievePbaNumbersWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrievePbaNumbersITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetPbaNumbersTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/ControllerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrievePbaNumbersWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1046

#1051 Quick typo fix
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/ControllerUtils.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1051

#1053 DIV-6504: clean up before implementing more than one service application
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DivorceServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DatesDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralOrderDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/Conditions.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DeemedServiceRefusalOrderDraftTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DispensedServiceRefusalOrderDraftTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ReceivedServiceAddedDateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderDraftTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/ServiceApplicationRefusalHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/MakeServiceDecisionWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/ServiceDecisionMadeWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/ServiceDecisionMakingWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ReceivedServiceAddedDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMadeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMakingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DatesDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralOrderDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/ConditionsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ReceivedServiceAddedDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/MakeServiceDecisionWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1053

#1056 DIV-6496: Use new common lib classes
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DaGrantedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/IssueAosPackOfflineTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessAosPackOfflineAnswers.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessPbaPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/advice/GlobalControllerFormatter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DivorceGeneralOrder.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Document.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DocumentLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/GeneralOrderParty.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/parties/DivorceParty.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/parties/DivorcePartyNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AosService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralOrderDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MarkJourneyAsOffline.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderDraftTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/mapper/CcdMappers.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/advice/GlobalControllerFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/parties/DivorcePartyTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/AOSPackOfflineAnswersInputTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/IssueAosPackOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CaseListedForHearingCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/DaGrantedCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMadeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMakingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralOrderDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MarkJourneyAsOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/AbstractGeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceDecisionOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/CaseDataTestHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ServiceApplicationTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1056

#1060 Fixing class duplication issue that makes integration tests fail
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosSolicitorNominatedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/BulkPrintCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/CaseListedForHearingCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PaymentUpdateCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueCallBackE2ETest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/RemoveCaseFromListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ScheduleBulkCaseForListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorLinkCaseCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorPersonalServiceCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AmendPetitionForRefusalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AmendPetitionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/CreateBulkCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDATest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveAosTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SolicitorAmendPetitionForRefusalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCaseToCCDIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDaCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDnCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/UpdateCaseInCCDIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/idam/GeneratePinRequest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/idam/PinResponse.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/idam/RegisterUserRequest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/idam/UserDetails.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/idam/UserGroup.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdClientSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/IdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cms/CmsClientSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/DraftsSubmissionSupport.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1060

#1061 DIV-6496: Filtering general orders based on citizen's role in divorce…
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/MakeCaseEligibleForDATest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveAosTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/GeneralOrdersTestHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/DraftsSubmissionSupport.java
  src/integrationTest/resources/fixtures/general-order/general-orders.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralOrderDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AuthenticateRespondent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseDataToDivorceFormatter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetPbaNumbersTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveDraft.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrdersFilterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/AuthUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/UserDivorcePartyLookup.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GetCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveAosCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/IdamTestSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrievePbaNumbersITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AuthenticateRespondentUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseDataToDivorceFormatterUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetPbaNumbersTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveAosCaseUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrievePinUserDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/AbstractGeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrdersFilterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/AuthUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/UserDivorcePartyLookupTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GetCaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RetrieveAosCaseWorkflowUTest.java
  src/test/resources/jsonExamples/payloads/general/order/case-data.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1061

#1062 DIV-6496: Implementing filtering of general orders to the draft endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/RetrieveCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseDataDraftToDivorceFormatter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RetrieveDraft.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/UserDivorcePartyLookup.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CaseDataDraftToDivorceFormatterTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1062

#1063 DIV-6496: Addressing code review comments and flaky tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/draft/DraftServiceEndToEndTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ListElements.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrdersFilterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/UserDivorcePartyLookup.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GeneralEmailWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalemail/GeneralEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrdersFilterTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1063

#1057 DIV-6504: move all data to 'ServiceApplications' collection
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DatesDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/MakeServiceDecisionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMadeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DatesDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationRemovalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceDecisionOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalDraftRemovalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/CaseDataTestHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/MakeServiceDecisionWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1057

#1055 RPET-520: bump owasp
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1055

#1073 fix master PBA number
  src/integrationTest/resources/fixtures/issue-petition/solicitor-submit-personal-service.json
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data-dn-rejection.json
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1073

#1070 DIV-6596: Adding more randomness to document names
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorPersonalServiceCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/TaskTestHelper.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1070

#1059 Div 6208 use new pba numbers field for payment
  charts/div-cos/Chart.yaml
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.demo.template.yaml
  charts/div-cos/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessPbaPaymentTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/Features.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetPbaNumbersTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentFeatureSwitchedOffIAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentFeatureSwitchedOnIAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrievePbaNumbersITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetPbaNumbersTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentFeatureToggledOffTaskAbstractTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentFeatureToggledOnTaskAbstractTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentTaskAbstractTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1059

#1085 DIV-6596: Refactoring document names
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1085

#1077 DIV-6182-general-referral-event-fields-and-screen
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdStates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/document/template/docmosis/BasicCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/GeneralReferralService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/GeneralReferralHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferrals/GeneralReferralTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/GeneralReferralUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/GeneralReferralHelperTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1077

#1086 DIV-6187: POST '/general-consideration' endpoint added
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/GeneralReferralService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralDecisionDateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/GeneralConsiderationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferral/GeneralConsiderationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferral/GeneralReferralTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralDecisionDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/GeneralConsiderationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1086

#1087 DIV-5908: Using some common beans from div-common-lib
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/DaGrantedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessPbaPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/RemoveCaseFromListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ScheduleBulkCaseForListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorPersonalServiceCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/idam/RegisterUserRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/AosCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CaseLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CollectionMember.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CoreCaseData.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/Payment.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/PaymentCollection.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStore.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetAmendedCaseIdTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrdersFilterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/mapper/CcdMappers.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnDecisionMadeCallbackITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedDocumentsGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PaymentUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseAcceptedCasesITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseDnPronouncementDateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseHearingDetailsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CaseListedForHearingCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/DaGrantedCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMadeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestFeatureSwitchedOff.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestFeatureSwitchedOn.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DatesDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateExistingCollectionsUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveListingDataTaskUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetAmendedCaseIdTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceDecisionOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/CaseDataTestHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ServiceApplicationTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetOrderSummaryWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1087

#1091 Unblocking master pipeline
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorPersonalServiceCallbackTest.java
  src/integrationTest/resources/fixtures/issue-petition/solicitor-submit-personal-service.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1091

#1088 DIV-5908: Eliminating duplicate beans
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Address.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Connections.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1088

#1094 feature(TA-138): Add test retries to the IntegrationTest class
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/RetryRule.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1094

#1097 DIV-6166: new endpoint for general referral payment setup
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ApplicationWithoutNoticeTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/FeeLookupWithoutNoticeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/GeneralReferralService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/ServiceJourneyService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetGeneralApplicationWithoutNoticeFeeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GetGeneralReferralApplicationFeeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/GetGeneralApplicationWithoutNoticeFeeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/SetupGeneralReferralPaymentWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/SetupConfirmServicePaymentWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/util/CallbackControllerTestUtils.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/FeeLookupWithoutNoticeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SetupServicePaymentTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferral/SetupGeneralReferralPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/SetupServicePaymentTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/GeneralEmailCoRespondentSolicitorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/GeneralEmailCoRespondentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/GeneralEmailOtherPartyTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/GeneralEmailPetitionerSolicitorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/GeneralEmailPetitionerTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/GeneralEmailRespondentSolicitorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/GeneralEmailRespondentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GetGeneralReferralApplicationFeeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/helpers/GeneralEmailHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/GetGeneralApplicationWithoutNoticeFeeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/FeesAndPaymentHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetupGeneralReferralApplicationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1097

#1093 DIV-6599: Return default state for non PBA payments
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdStates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentAbstractITest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1093

#1100 DIV-6168: populate 'GeneralApplicationAddedDate' with 'today' on 'GeneralReferral'
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/GeneralReferralService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralApplicationAddedDateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/GeneralReferralWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferral/GeneralReferralTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralApplicationAddedDateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/GeneralReferralWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/SetupConfirmServicePaymentWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1100

#1101 DIV-6602 update content on PBA payment new pr
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/payment/PbaClientError.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/payment/PbaErrorMessage.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/payment/PbaClientErrorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentFeatureSwitchedOffIAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentFeatureSwitchedOnIAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentFeatureToggledOffTaskAbstractTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentFeatureToggledOnTaskAbstractTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentTaskAbstractTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/PbaClientErrorTestUtil.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/payment/PbaClientErrorMessageTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1101

#1074 Ta 25 payment client pact
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/CardPaymentsConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/CreditAccountPaymentsConsumerTest.java
  src/contractTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PaymentUpdateCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1074

#1105 DIV-6166: populate FeeAmountWithoutNotice field
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/FeeLookupWithoutNoticeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GetGeneralReferralApplicationFeeTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/FeeLookupWithoutNoticeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferral/SetupGeneralReferralPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GetGeneralReferralApplicationFeeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/FeesAndPaymentHelper.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1105

#1104 DIV-5908: Transforming Divorce session into CCD data without going to…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseFormatterClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/CaseDataFormatterConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/HttpConnectionConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToCaseData.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/config/CaseDataFormatterConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PaymentUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrieveDraftITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorAmendPetitionForRefusalITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FormatDivorceSessionToCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/DataTransformationTestHelper.java
  src/test/resources/jsonExamples/payloads/transformations/ccd/case-data.json
  src/test/resources/jsonExamples/payloads/transformations/divorce/case-data.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1104

#1078 RPET-561: Adding comment for future devs
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BulkCaseCreate.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1078

#1111 DIV-6530 confirm pba credit payment integration test data setup on aat
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessPbaPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/resources/fixtures/solicitor/payment/active-account-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/help-with-fee-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/inactive-account-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/insufficient-funds-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/missing-data-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/nonexisting-account-request.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/payment/PbaClientError.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1111

#1075 feature(TA-12): Run full API tests in nightly pipeline
  Jenkinsfile_nightly
  src/integrationTest/resources/fixtures/da-granted/da-granted-offline-represented-respondent.json
  src/integrationTest/resources/fixtures/da-granted/da-granted-offline.json
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/DaGrantedCallbackTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1075

#1116 upgrading tomcat to latest version and suppressing dependency failures for a month
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1116

#1112 Refactor logic to ensure Fee value appears in CCD
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/FeeLookupWithoutNoticeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralApplicationFeeLookupTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/GeneralApplicationWithoutNoticeFeeLookupTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/SetupGeneralReferralPaymentWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/SetupConfirmServicePaymentWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/FeeLookupWithoutNoticeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralApplicationFeeLookupTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/GeneralApplicationWithoutNoticeFeeLookupTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SetupGeneralReferralApplicationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/SetupConfirmServicePaymentWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1112

#1118 DIV-6612: Generating random case number for each test.
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/ProcessPbaPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
  src/integrationTest/resources/fixtures/solicitor/payment/active-account-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/help-with-fee-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/inactive-account-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/insufficient-funds-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/missing-data-request.json
  src/integrationTest/resources/fixtures/solicitor/payment/nonexisting-account-request.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1118

#1102 Ta 24 reference data consumer test
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/payments/CardPaymentsConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/payments/CreditAccountPaymentsConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/referencedata/PbaClientConsumerTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1102

#1119 Missing environment variable that only exists in CFS, but not in COS
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1119

#1071 DIV-6536: getting bailiff fee if bailiff service type
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/FeesAndPaymentsClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/document/ApplicationServiceTypes.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/FeeLookupWithoutNoticeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/Conditions.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/GetBailiffApplicationFeeTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/SetupConfirmServicePaymentWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/GetBailiffApplicationFeeTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/SetupConfirmServicePaymentWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1071

#1068 DIV-5452: Update service decision logic to move to new bailiff state
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdStates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImplTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1068

#1106 DIV-6456: add new element to GeneralReferrals collection
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DivorceGeneralReferral.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralReferralDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralReferralServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralFieldsRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/GeneralReferralHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/GeneralConsiderationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalreferral/GeneralConsiderationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/GeneralReferralDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalreferral/GeneralReferralFieldsRemovalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/TaskUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/GeneralReferralHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalreferral/GeneralConsiderationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1106
