Repository hmcts/div-case-orchestration-service, pull requests merged in 2021-03, with the labels that each got.

#1283 FR gang bailiff work integration
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/document/template/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/document/template/docmosis/CertificateOfService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/BailiffPackService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BailiffPackServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bailiff/CertificateOfServiceGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/bailiff/IssueBailiffPackWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BailiffPackServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bailiff/CertificateOfServiceGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/bailiff/IssueBailiffPackWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1283

#1284 DIV-6771: Regression Testing
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MakeCaseEligibleForDASubmittedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyApplicantCanFinaliseDivorceTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1284

#1286 DIV-6777: Moving all event variables to the CcdEvents class
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionIssueCallBackE2ETest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitDaCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorLinkedField.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitDnCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdatePaymentMadeCase.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AmendPetitionForRefusalWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AmendPetitionWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/MakeCaseEligibleForDecreeAbsoluteWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitDaCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateDAOverdueWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueForAlternativeServiceCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueForProcessServerCaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AmendPetitionForRefusalITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AmendPetitionITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/LinkRespondentIdamTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitCoRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitDaCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitDnCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SubmitRespondentAosCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorAosEventServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DuplicateCaseValidationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorLinkedFieldTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitCoRespondentAosCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitDnCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SubmitRespondentAosCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdatePaymentMadeCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateRespondentDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/WelshNextEventUtilTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitDaCaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1286

#1289 DIV-6777: Extend AOS overdue job to pick up cases from state AosDrafted
  src/contractTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdStates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1289

#1290 DIV-6819: better regression tests - before implementation
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1290

#1291 DIV-6819: move task to different workflow
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/Conditions.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionerSolicitorApplicationSubmittedEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerSubmissionNotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendSolicitorApplicationSubmittedEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorUpdateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/ConditionsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionerSolicitorApplicationSubmittedEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1291

#1293 Spring security crypto
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1293

#1294 removed supressions
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1294

#1297 Added more logs to PopulateDocLinkTask
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorDnFetchDocTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1297

#1295 DIV-6797: Regression testing
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CaseLinkedForHearingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CoRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeAbsoluteRequestedRespondentNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/DaGrantedCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoENotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCoENotificationEmailTaskTest.java
  src/test/resources/jsonExamples/payloads/caseListedForHearing.json
  src/test/resources/jsonExamples/payloads/solCaseListedForHearing.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1295

#1285 DIV 5459 CaseWorker updates bailiff service outcome
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdStates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/DateFieldSetupTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/ServiceJourneyService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DatesDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/Conditions.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceDueDateSetterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffSuccessServiceDueDateSetterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffUnsuccessServiceDueDateSetterTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BailiffOutcomeWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BailiffOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DatesDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BailiffSuccessServiceDueDateSetterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/BailiffUnsuccessServiceDueDateSetterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DueDateSetterTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BailiffOutcomeWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1285

#1305 Update Tomcat due to CVE
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1305

#1308 Cleanup dependency check suppressions
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1308

#1309 DIV-6759: Adding integration test to make sure that transformation is…
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/integrationTest/resources/fixtures/maintenance/submit/divorce-session-with-court-selected.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CaseRoles.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CcdDataStoreService.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1309

#1304 DIV-6223 Bailiff application AwaitingDN after dueDate
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/alternativeservice/AlternativeServiceType.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/domain/AosOverdueForBailiffApplicationCaseEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AosOverdueEventListener.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AosService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueForAlternativeServiceCaseWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOverdueForAlternativeServiceCaseWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1304

#1310 DIV-6630: endpoint for judge costs decision
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1310

#1317 Bumping up div-common-lib
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1317

#1315 DTSPO-1452 - SendGrid Migration
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1315

#1154 RPET-269 remove generation of solicitor personal service letter
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorPersonalServiceCallbackTest.java
  src/integrationTest/resources/fixtures/issue-petition/solicitor-petition.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/SolicitorService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssuePersonalServicePackWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ValidateForPersonalServicePackWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ValidateForPersonalServicePackWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1154

#1322 Fix typo
  src/main/resources/bootstrap.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1322

#1323 Fix running tests in recent intellij
  build.gradle
  job-scheduler/build.gradle
  src/integrationTest/resources/example-application-local.properties
Labels: ns:divorce, prd:div, rel:div-cos-pr-1323

#1329 DIV-6089: Allow to proceed without respondent answers when bailiff successful
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorDnFetchDocTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1329

#1328 Div-6533: RespSol complete AOS whilst bailiff in progress
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/Conditions.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ConfirmSolDNReview.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1328

#1332 DIV-6762: Create a new endpoint which sends notifications (like the o…
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosPackIssuedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitCoRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/domain/AOSOfflineTriggerRequestEvent.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AOSOfflineTriggerRequestListener.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AosService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/AosOfflineTriggerRequestTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendEmailNotificationWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOfflineTriggerRequestWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/events/CcdTestEvents.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/event/listener/AOSOfflineTriggerRequestListenerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/AosPackIssuedCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/AosOfflineTriggerRequestTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendEmailNotificationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosOfflineTriggerRequestWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1332

#1333 DIV-6762: Making functional test better
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/AosPackIssuedCallbackTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1333

#1331 Div 6089: Allow to proceed when bailiff is successful
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorDnFetchDocTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1331

#1336 Bump up io.netty to v 4.1.60
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1336

#1334 DTSPO-1452 Updated Chart values to point to Sendgrid
  charts/div-cos/Chart.yaml
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.demo.template.yaml
  charts/div-cos/values.preview.template.yaml
  charts/div-cos/values.yaml
  src/main/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1334

#1345 DIV-6844: Make sure we only attempt to allow case to be shared for di…
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/resources/fixtures/issue-petition/solicitor-petition.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AllowShareACaseTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentRepRespJourneyTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorUpdateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestShareCaseFeatureSwitchedOnTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AllowShareACaseTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/UpdateNoticeOfProceedingsDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CcdCallbackBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflowTest.java
Labels: DO NOT MERGE, ns:divorce, prd:div, rel:div-cos-pr-1345

#1349 DIV-6844: Reverting test file
  src/integrationTest/resources/fixtures/issue-petition/solicitor-petition.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1349

#1342 RPET-417: Insert additional logging around AOS for DN issue
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosSubmissionWorkflow.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1342

#1350 Reverting to old spring boot version
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1350

#1270 Rpet 694 brexit solicitor changes
  build.gradle
  src/integrationTest/resources/fixtures/issue-petition/solicitor-petition.json
  src/integrationTest/resources/fixtures/solicitor/case-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyD8JurisdictionConnectionPolicyTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyJurisdictionConnectionPolicyTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetNewLegalConnectionPolicyTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateCaseDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitToCCDWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateToCCDWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorUpdateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyD8JurisdictionConnectionPolicyTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyJurisdictionConnectionPolicyTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetNewLegalConnectionPolicyTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SubmitToCCDWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateToCCDWorkflowTest.java
  src/test/resources/jsonExamples/payloads/d8JurisdictionConnection.json
  src/test/resources/jsonExamples/payloads/d8JurisdictionConnectionNewPolicy.json
  src/test/resources/jsonExamples/payloads/jurisdictionConnection.json
  src/test/resources/jsonExamples/payloads/jurisdictionConnectionNewPolicy.json
  src/test/resources/jsonExamples/payloads/transformations/ccd/case-data-rep-resp.json
  src/test/resources/jsonExamples/payloads/transformations/ccd/case-data.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1270
