Repository hmcts/div-case-orchestration-service, pull requests merged in 2021-02, with the labels that each got.

#1219 DIV-6637: Share a case - remove existing case roles and assign access to case
  build.gradle
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/ServiceContextConfiguration.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/AssignCaseAccessClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseRoleClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/AssignCaseAccessRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CaseUser.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/RemoveUserRolesRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/CaseRoles.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CcdDataStoreService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AllowShareACaseTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AllowShareACaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/PetitionerSolicitorRoleWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/AllowShareACaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/IdamTestSupport.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrievePbaNumbersITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestFeatureSwitchedOffTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/CcdDataStoreServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AllowShareACaseTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/TaskContextHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AllowShareACaseWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/PetitionerSolicitorRoleWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1219

#1232 DIV-6637 update pact config
  src/contractTest/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1232

#1235 DIV-6751: D8SolicitorReference field mapped to OrgPolicyReference for draft petition
  build.gradle
  charts/div-cos/Chart.yaml
  charts/div-cos/requirements.yaml
  charts/div-cos/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorLinkCaseCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/ElasticSearchTestHelper.java
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/Features.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Organisation.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorOrganisationPolicyDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorOrganisationPolicyDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1235

#1243 DIV-6752: Config update
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.demo.template.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1243

#1240 DIV-6752: D8SolicitorReference field mapped to OrgPolicyReference for update draft petition
  charts/div-cos/Chart.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SolicitorAmendPetitionForRefusalTest.java
  src/integrationTest/resources/fixtures/issue-petition/solicitor-petition.json
  src/integrationTest/resources/fixtures/solicitor/case-data.json
  src/integrationTest/resources/fixtures/solicitor/solicitor-error-request-data.json
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorOrganisationPolicyDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorOrganisationPolicyDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1240

#1244 Ignoring unknown fields
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Organisation.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/OrganisationPolicy.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1244

#1252 DIV-6756 refactoring existing functionality
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/SolicitorOrganisationPolicyReferenceTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetPetitionerSolicitorOrganisationPolicyReferenceTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorOrganisationPolicyDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetPetitionerSolicitorOrganisationPolicyReferenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetSolicitorOrganisationPolicyDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SolicitorOrganisationPolicyReferenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1252

#1253 DIV-6756: Respondent solicitor reference field mapped to org policy reference for draft petition
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetRespondentSolicitorOrganisationPolicyReferenceTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetPetitionerSolicitorOrganisationPolicyReferenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetRespondentSolicitorOrganisationPolicyReferenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SolicitorOrganisationPolicyReferenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1253

#1245 DIV-6769 Email pet solicitor on solicitor update
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendSolicitorApplicationSubmittedEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendSolicitorApplicationSubmittedEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1245

#1254 DIV-6757: Respondent solicitor reference field mapped to orgpolicyreference for update a draft petition
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1254

#1259 Making app insights instrumentation key available to chart.
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1259

#1251 DIV-6772: Email petitioner solicitor to say that DA application has been received
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/decreeabsolute/DaRequestedPetitionerSolicitorEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/NotifyRespondentOfDARequestedWorkflow.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeAbsoluteRequestedRespondentNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/decreeabsolute/DaRequestedPetitionerSolicitorEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/TaskContextHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/NotifyRespondentOfDARequestedWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1251

#1258 fixing chart v2 and logs
  build.gradle
  src/main/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1258

#1262 Add secret mapping for app insights key
  src/main/resources/bootstrap.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1262

#1264 DIV-6800: Improving logs
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/ControllerUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AllowShareACaseWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/ControllerUtilsTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1264

#1266 dependencies and checkstyle
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTask.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1266

#1265 DIV-6800: Throwing exception that helps us identify case id.
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1265

#1267 DIV-6763: New email for respondent solicitor on issue AOS pack
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/EmailVars.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Organisation.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/PetitionerSolicitorSendEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/RespondentSolicitorSendEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/EventHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/ServiceJourneyEmailTaskHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerNoticeOfProceedingsEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendRespondentNoticeOfProceedingsEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendEmailNotificationWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendPetitionerNoticeOfProceedingsEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendRespondentNoticeOfProceedingsEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/CaseDataTestHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ServiceJourneyEmailTaskHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendEmailNotificationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerSubmissionNotificationWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1267

#1275 Revert "DIV-6763: New email for respondent solicitor on issue AOS pack"
  src/contractTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorPersonalServiceCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/EmailVars.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/Organisation.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/PetitionerSolicitorSendEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/RespondentSolicitorSendEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/EventHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/helper/ServiceJourneyEmailTaskHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendNoticeOfProceedingsEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendRespondentNoticeOfProceedingsEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/SolicitorDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendNoticeOfProceedingsEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/SendRespondentNoticeOfProceedingsEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/CaseDataTestHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/ServiceJourneyEmailTaskHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerSubmissionNotificationWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1275

#1269 DIV-6769: Functional tests
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorUpdateTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1269

#1277 DIV-6770: refactoring and regression tests
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/SendEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CaseDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/SendEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CaseDataExtractorTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1277

#1278 DIV-6770: New task for 'AOS Received - Solicitor (Applicant)' email
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/TaskCommons.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/AosReceivedPetitionerSolicitorEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosSubmissionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/AosReceivedPetitionerSolicitorEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aos/AosSubmissionWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1278

#1279 DIV-6770: Regression testing
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentAOSSubmissionNotificationEmailITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentSubmissionNotificationEmailTest.java
  src/test/resources/jsonExamples/payloads/respondentAcknowledgesServiceDefendingDivorce.json
  src/test/resources/jsonExamples/payloads/respondentAcknowledgesServiceNotDefendingDivorce.json
  src/test/resources/jsonExamples/payloads/respondentAcknowledgesServiceNotDefendingNotAdmittingDivorce.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1279

#1260 DIV-6792 Changed ConfirmServicePayment postcondition state
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdStates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/ServiceJourneyService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ConfirmServicePaymentTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/ServiceJourneyServiceImplTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1260
