Repository hmcts/div-case-orchestration-service, pull requests merged in 2021-01, with the labels that each got.

#1175 DIV-6189: Implementing endpoint, but only for certificate of entitlement
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/Template.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CourtOrderDocumentsUpdateService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/DocumentTemplateService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiAnswersGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/DocumentTypeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DaAboutToBeGrantedDocumentsGeneration.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DaAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedDocumentsGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DocumentGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/EditBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/GenerateCoRespondentAnswersITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PetitionIssuedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentSolicitorNominatedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosRespondentSubmittedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/IssueAosPackOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CourtOrderDocumentsUpdateCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/ServiceDecisionMakingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/DocumentTemplateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddMiniPetitionDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAnswersGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiAnswersGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAnswersGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CcdUtilUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssuePersonalServicePackWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ListForPronouncementDocGenerationWorkflowUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/DecreeAbsoluteAboutToBeGrantedWorkflowTest.java
  src/test/resources/jsonExamples/payloads/updateCourtOrderDocuments.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1175

#1180 DIV-6727: Changing template service design to make it simpler
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/AOSPackOfflineConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/Template.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/Workflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/Task.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/DocumentTemplateService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddMiniPetitionDraftTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAnswersGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentLetterGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiAnswersGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAnswersGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssuePersonalServicePackWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ListForPronouncementDocGenerationWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/DecreeAbsoluteAboutToBeGrantedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/DocumentTemplateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddMiniPetitionDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentAnswersGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CoRespondentLetterGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiAnswersGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PetitionGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentAnswersGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssuePersonalServicePackWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ListForPronouncementDocGenerationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/decreeabsolute/DecreeAbsoluteAboutToBeGrantedWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1180

#1189 DIV-6734: Making Cost order generation reusability simpler
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/document/template/DocumentTypeHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CourtOrderDocumentsUpdateCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DocumentGenerationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1189

#1192 Increase AOS Overdue time
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1192

#1190 Fix for DIV-6094
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1190

#1193 DIV-6189: Small improvements
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLink.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddMiniPetitionDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1193

#1194 RPET-654: Update nightly build pipeline
  Jenkinsfile_nightly
  security.sh
Labels: ns:divorce, prd:div, rel:div-cos-pr-1194

#1195 DIV-6737: Use petitioner's home address if correspondence address is …
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/InvalidDataForTaskException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/AosOverdueCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/GeneralEmailWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1195

#1197 Trying to fix new Sonar issues
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DecreeNisiRefusalDocumentGeneratorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MultipleDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1197

#1198 Fixing Sonar issue
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/IssueAosPackOfflineWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1198

#1202 DIV-6739: Re-generating Decree Nisi and Decree Absolute
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CourtOrderDocumentsUpdateCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImplTest.java
  src/test/resources/jsonExamples/payloads/updateCourtOrderDocuments.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1202

#1196 DIV-6734: Re-generating costs order document
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CourtOrderDocumentsUpdateCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImplTest.java
  src/test/resources/jsonExamples/payloads/updateCourtOrderDocuments.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1196

#1203 DIV-6189: Final clean up
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/EditBulkCaseListingTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/document/template/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentSolicitorLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CostOrderCoRespondentCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CostOrderCoRespondentSolicitorCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentSolicitorCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DeemedServiceOrderGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DeemedServiceRefusalOrderTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DispensedServiceRefusalOrderTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/OrderToDispenseGenerationTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/document/template/DocumentTypeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CostOrderCoRespondentSolicitorCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/BasePayloadSpecificDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentSolicitorLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentSolicitorCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/AbstractGeneralOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalorders/GeneralOrderDraftGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DeemedServiceOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DeemedServiceRefusalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DispensedServiceRefusalOrderDraftTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/DispensedServiceRefusalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/OrderToDispenseGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceDecisionOrderGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceRefusalOrderGenerationTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1203

#1205 Fixing dependency issues
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1205

#1204 DIV-6740: Creating exclusive endpoint for 'editBulkCase' event
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/EditBulkCaseListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/nightly/pipeline/RemoveCaseFromListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ListForPronouncementDocGenerationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/EditBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ListForPronouncementDocGenerationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1204

#1206 Added more logs to endpoint /petition-updated
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerUpdateNotificationsEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendPetitionerEmailNotificationWorkflow.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1206

#1208 DIV-6637: Adding new feature toggle for 'share a case'
  charts/div-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/Features.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/FeatureToggleServiceImpl.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/FeatureToggleServiceImplTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1208

#1221 DIV-6746: Updating existing workflow to cater for alternative service types
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorDnFetchDocTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/PopulateDocLinkTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1221

#1222 DIV-6746: Updating serenity version
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1222

#1220 BuildFix: Reorder mavenCentral and Jcenter
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1220
