Repository hmcts/div-case-orchestration-service, pull requests merged in 2021-04, with the labels that each got.

#1361 DIV-6859: First clean-up necessary to make additions to workflow clea…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosIssueBulkPrintWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkPrintWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosIssueBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkPrintWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1361

#1362 DIV-6859: Not sending AOS pack to bulk print when resp solicitor is n…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosIssueBulkPrintWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosIssueBulkPrintWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1362

#1130 RPET-63 Payment update
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PaymentUpdateCallbackTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/Features.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/AuthUtil.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PaymentUpdateITest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1130

#1364 DIV-6859: Do not produce respondent AOS invitation for respondents re…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/helper/RepresentedRespondentJourneyHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssueEventWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/helper/RepresentedRespondentJourneyHelperTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1364

#1360 DIV-6847: PET SOL must select org he belongs to
  .gitignore
  build.gradle
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
  src/contractTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/OrganisationClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/prd/OrganisationContactInformation.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/prd/OrganisationsResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AllowShareACaseTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateSelectedOrganisationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/PetitionerSolicitorRoleWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorUpdateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesAbstractTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AllowShareACaseTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateSelectedOrganisationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/CaseDataTestHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/testutil/TaskContextHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/PetitionerSolicitorRoleWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflowTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1360

#1354 DIV-6869: remove value from 'RespondentOrganisationPolicy' when resp sol not digital
  build.gradle
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentOrganisationPolicyRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentOrganisationPolicyRemovalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1354

#1369 DIV-6873: Copying PetitionerOrganisationPolicy to new case when solic…
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyPetitionerSolicitorDetailsTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyPetitionerSolicitorDetailsTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1369

#1365 DIV-6859: Refactoring workflows to delegate complexity to helper class
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosIssueBulkPrintWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/helper/RepresentedRespondentJourneyHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosIssueBulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/helper/RepresentedRespondentJourneyHelperTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1365

#1353 DIV-6852: copy bailiff fields to collection and clean up
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/BailiffServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DivorceServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/BailiffServiceApplicationDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BailiffOutcomeWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BailiffOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/BailiffServiceApplicationDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/ServiceApplicationDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationRemovalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BailiffOutcomeWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1353

#1367 DIV-6874: Populate LastServiceApplicationType
  build.gradle
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.demo.template.yaml
  charts/div-cos/values.preview.template.yaml
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/Features.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTask.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/servicejourney/MakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/ServiceApplicationDataTaskTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1367

#1376 DIV-6852: Add BailiffApplicationGranted to collection
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/BailiffServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DivorceServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/BailiffServiceApplicationDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationRemovalTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BailiffOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/BailiffServiceApplicationDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/BailiffServiceApplicationRemovalTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1376

#1377 RPET-921-chart-java-bump
  charts/div-cos/Chart.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1377

#1320 Release RPET-559, RPET-567, RPET-269
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorPersonalServiceCallbackTest.java
  src/integrationTest/resources/fixtures/issue-petition/solicitor-petition.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/SolicitorService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkPrintWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/IssuePersonalServicePackWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolConfirmServiceWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ValidateForPersonalServicePackWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorConfirmPersonalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/SolicitorServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/BulkPrintWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolConfirmServiceWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ValidateForPersonalServicePackWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1320

#1378 DIV-6869 code improvements
  src/integrationTest/resources/fixtures/solicitor/solicitor-request-data.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/BulkPrintTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentRepRespJourneyTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorUpdateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/IssueAosRespondentSolicitorNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/AosServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendEmailNotificationWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorSubmissionWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/helper/RepresentedRespondentJourneyHelperTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1378

#1382 Small refactoring job
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/AosSolicitorNominatedCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorLinkCaseCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorPersonalServiceCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/context/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/LinkRespondentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SolicitorAmendPetitionForRefusalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosBailiffCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/SubmitRespondentAosCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdClientSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/CcdSubmissionSupport.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CreateAmendPetitionDraftForRefusalFromCaseIdTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CreateNewAmendedCaseAndSubmitToCCDWorkflow.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1382

#1383 BailiffServiceApplication field should be in BailiffServiceApplication model
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/BailiffServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DivorceServiceApplication.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1383

#1384 DIV-6898: Populate 'PetitionerSolicitorFirm' on solicitorCreate and solicitorUpdate
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/framework/workflow/task/generics/SolicitorOrganisationPolicyReferenceTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyPetitionerSolicitorDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetPetitionerSolicitorOrganisationPolicyReferenceTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentRepRespJourneyTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/CopyPetitionerSolicitorDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ProcessPbaPaymentTaskAbstractTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetPetitionerSolicitorOrganisationPolicyReferenceTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1384

#1386 DIV-6898: Do not send email to resp solicitor when it's not digital
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeAbsoluteRequestedRespondentNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1386

#1385 DIV-6911: when AOS overdue change state to AOS Drafted
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/Conditions.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1385

#1392 DIV-6915: Remove Respondent Solicitor fields in amend journey
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentDetailsRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorUpdateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RespondentDetailsRemovalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1392

#1393 Make sure we verify if resp sol is digital properly
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorLinkCaseCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorUpdateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeAbsoluteRequestedRespondentNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/ValidationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendDaRequestedNotifyRespondentEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1393

#1394 DIV-6913: Digital Respondent solicitor created in PFE getting paper AoS
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/helper/RepresentedRespondentJourneyHelperTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1394

#1395 div-6906- Allow Petitioner Solicitor to Progress to DN with service application Bailiff
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/DivorceServiceApplication.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/common/Conditions.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorDnFetchDocWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1395

#1396 Updated commons-io
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1396

#1399 No more skipped unit tests
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DataExtractionEmailClientTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1399

#1400 DIV-6633: Cost Order Judge
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.demo.template.yaml
  charts/div-cos/values.preview.template.yaml
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/Features.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/document/template/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/document/template/DocumentTypeTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedDocumentsGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CourtOrderDocumentsUpdateCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1400

#1402 RPET-612: more mocked functional tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/PetitionerClarificationSubmittedNotificationTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkCaseConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdEvents.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/BulkCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCoRespondentAnswerReceivedTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDNDecisionStateTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/notification/NotifyForRefusalOrderTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CoRespondentAnswerReceivedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/DecreeNisiAboutToBeGrantedWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/UpdateCaseWithinBulkWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CalculateSeparationFieldsITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ClarificationSubmittedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnDecisionMadeCallbackITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/CancelPronouncementBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalemail/GeneralEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalorders/GeneralOrderDraftTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCoRespondentAnswerReceivedTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/CoRespondentAnswerReceivedWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1402

#1397 Pact plugin is apparently causing an issue with serenity reports
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1397

#1403 DIV-6857 Judge Claim Costs refactoring and fields removal task
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/exception/JudgeServiceException.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/JudgeService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/JudgeServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddJudgeCostsDecisionToPayloadTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/JudgeCostsClaimFieldsRemovalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/JudgeHelper.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/JudgeCostsDecisionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/JudgeCostsDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/JudgeServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddJudgeCostsDecisionToPayloadTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/JudgeCostsClaimFieldsRemovalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/JudgeHelperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/JudgeCostsDecisionWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1403

#1398 DIV-6634: Updating logic for defining isCostsClaimGranted
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoECoverLetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoERespondentSolicitorLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentSolicitorCoverLetterGenerationTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SendDnPronouncedNotificationWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoECoverLetterDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/DnGrantedRespondentSolicitorCoverLetterGenerationTaskTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1398

#1381 DIV-6854: Cost order should not generate if the Judge decision is 'adjourn' OR Judge decision AND LA decision empty
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CourtOrderDocumentsUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/JudgeDecisionHelper.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/JudgeDecisionHelperTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1381

#1406 fixed aos/make-overdue
  dependency-check-suppressions.xml
  src/contractTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnDecisionMadeCallbackITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/aos/MarkCasesAsAosOverdueTaskTest.java
  src/test/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1406

#1410 Bump up elastic search
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1410

#1411 RPET-612: Adding and modifying functional tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/nightly/pipeline/MakeCaseEligibleForDATest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/CaseOrchestrationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorDnFetchDocTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/SolicitorUpdateTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1411
