Repository hmcts/div-case-orchestration-service, pull requests merged in 2021-11, with the labels that each got.

#1538 DFR-621 - Suppress springframework dependency issue
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1538

#1540 DFR-591 - "costs claimed from" empty on solicitor create case journey
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/SolicitorCreateWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1540

#1547 investigation failure functional test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/AosOverdueTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aos/AosOverdueTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1547
