Repository hmcts/div-case-orchestration-service, pull requests merged in 2021-08, with the labels that each got.

#1501 DFR-519: Fix elasticsearch vulnerability
  build.gradle
  charts/div-cos/Chart.yaml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1501

#1505 DFR-522: Suppress Jakarta el vulnerability
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1505

#1432 RPET-966: adding endpoint for clearing general email fields
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/FeeItem.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/FeeResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/FeeValue.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/ccd/GeneralEmailDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/GeneralEmailService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralEmailServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/ClearGeneralEmailFieldsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/StoreGeneralEmailFieldsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalemail/ClearGeneralEmailFieldsWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalemail/GeneralEmailWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalemail/StoreGeneralEmailFieldsWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/generalemail/GeneralEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/AddresseeDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/GeneralEmailServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/ClearGeneralEmailFieldsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/generalemail/StoreGeneralEmailFieldsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalemail/ClearGeneralEmailFieldsWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalemail/GeneralEmailWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/generalemail/StoreGeneralEmailFieldsWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1432

#1506 DFR-48: Add new contract tests
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/ccd/AssignCaseAccessConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/ccd/CaseRoleConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/divorce/orchestration/client/referencedata/RefDataExternalOrganisationsConsumerTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1506

#1476 DFR-62 Use latest div-common-lib
  build.gradle
  job-scheduler/build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1476

#1482 DFR-439: Integrate Fortify Scan into nightly pipeline
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1482

#1510 Revert "DFR-62 Use latest div-common-lib"
  build.gradle
  job-scheduler/build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1510
