Repository hmcts/div-case-orchestration-service, pull requests merged in 2021-05, with the labels that each got.

#1421 Fix integration test expected http status
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/maintenance/nightly/pipeline/MakeCaseEligibleForDATest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1421

#1426 RPET-984: Clean up headers const
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/bulk/scan/BulkScanIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/GetPetitionIssueFeesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/SolicitorCreateAndUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/OrganisationClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/PaymentClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/PbaValidationClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/SpecificHttpHeaders.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkCaseController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/DecreeAbsoluteController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/OrchestrationController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/internal/DecreeAbsoluteCaseInternalController.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/DocumentContentFetcherService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/FetchPrintDocsFromDmStoreTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PaymentUpdateITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentAbstractITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/ProcessPbaPaymentRepRespJourneyTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrievePbaNumbersITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/TransformationBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/scan/UpdateBulkScanITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/AosPackIssuedCallbackTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1426

#1427 RPET-984: added 'use_user_token'=true to ACA api call
  charts/div-cos/values.aat.template.yaml
  charts/div-cos/values.demo.template.yaml
  charts/div-cos/values.preview.template.yaml
  src/contractTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/AssignCaseAccessClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/config/QueryParams.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/Features.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/AssignCaseAccessService.java
  src/main/resources/application.yml
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestFeatureSwitchedOffTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestFeatureSwitchedOnTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestShareCaseFeatureSwitchedOffTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/solicitor/dn/rejectandamend/GetPetitionIssueFeesTestShareCaseFeatureSwitchedOnTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/AssignCaseAccessServiceTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1427

#1439 RPET-600: spring functional test happy path for endpoint: /remove-dn-outcome-case-flag
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddDnOutcomeFlagFieldTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveDnOutcomeCaseFlagTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SearchAwaitingPronouncementCases.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveDnOutcomeCaseFlagWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DecreeNisiAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RemoveDnOutcomeCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/AddDNOutcomeFlagTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveDnOutcomeCaseFlagTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveDnOutcomeFlagWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1439

#1440 RPET-601: more tests for /remove-la-make-decision-fields
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/support/cos/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveLegalAdvisorMakeDecisionFieldsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveLegalAdvisorMakeDecisionFieldsWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RemoveLegalAdvisorMakeDecisionFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveLegalAdvisorMakeDecisionFieldsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveLegalAdvisorMakeDecisionFieldsWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1440

#1441 RPET-597: test for /handle-post-dn-submitted
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnSubmittedTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1441

#1438 RPET-609: mocked tests for /bulk/remove/listing
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/EditBulkCaseListingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/callback/nightly/pipeline/RemoveCaseFromListingTest.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/BulkCaseConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CoECoverLetterDataExtractor.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveListingDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoENotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCoENotificationEmailTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCaseTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnPronouncementDetailsTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetFormattedDnCourtDetails.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateBulkCourtHearingDate.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractor.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DocumentGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PrepareToPrintForPronouncementTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseHearingDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/cases/CancelPronouncementBulkCaseTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/cases/RemoveListingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/callback/CaseListedForHearingCallbackTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MultipleDocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveListingDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoENotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCoENotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetCourtHearingDetailsFromBulkCaseTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDaGrantedDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetDnPronouncementDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SetFormattedDnCourtDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/ValidateBulkCourtHearingDateTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/bulk/printing/CoECoRespondentCoverLetterGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/dataextraction/DecreeNisiDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/ListForPronouncementDocGenerationWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1438

#1442 RPET-606: added mocked tests for /validate-da-request
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/DaAboutToBeGrantedDocumentsGenerationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/DaAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/DecreeAbsoluteRequestedRespondentNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/ValidateDaTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1442

#1443 RPET-598: more tests and refactoring
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/client/CaseFormatterClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/CcdFields.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveListingDataTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveLinkFromListedWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RemoveLinkFromListedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/ValidateDaTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/CaseOrchestrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/RemoveListingDataTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/RemoveLinkFromListedWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1443

#1455 RPET-608: refactoring and tests
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackController.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/controller/SolicitorCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RetrievePbaNumbersITest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1455
