Repository hmcts/div-case-orchestration-service, pull requests merged in 2022-07, with the labels that each got.

#1662 Update Chart.yaml
  charts/div-cos/Chart.yaml
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1662

#1663 Adding the most upto date Data set for the Bulk Create JSON
  src/integrationTest/resources/fixtures/bulk-list/bulk-create.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1663

#1657 Dfr 1097 paremeterise ctsc work hours
  dependency-check-suppressions.xml
  src/contractTest/resources/application.yml
  src/integrationTest/resources/fixtures/retrieve-aos-case/aos-divorce-session.json
  src/integrationTest/resources/fixtures/retrieve-case/divorce-session.json
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTask.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnPronouncedDocumentsGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DocumentGenerationITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/EditBulkCaseITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/MockedFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/PrepareToPrintForPronouncementTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/RespondentSolicitorNominatedITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/UpdateBulkCaseHearingDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/aospack/offline/IssueAosPackOfflineTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/bulk/cases/RemoveListingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/DaAboutToBeGrantedDocumentsGenerationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/decreeabsolute/DaAboutToBeGrantedTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/CtscContactDetailsDataProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/DocumentGenerationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/MultipleDocumentGenerationTaskTest.java
  src/test/resources/application.yml
  src/test/resources/jsonExamples/expectedCourts.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1657
