Repository hmcts/div-case-orchestration-service, pull requests merged in 2022-05, with the labels that each got.

#1640 Bumping PostgreSQL
  build.gradle
  dependency-check-suppressions.xml
  job-scheduler/build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1640

#1643 Autoscaling
  charts/div-cos/Chart.yaml
  charts/div-cos/values.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1643

#1646 Bumping netty
  build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1646

#1490 DFR-60: Send paper notifications to Respondent when no email address
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/MarkRespondentAsNonDigitalTask.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmAlternativeServiceWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmProcessServerServiceWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/MakeServiceDecisionWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/servicejourney/MarkRespondentAsNonDigitalTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmAlternativeServiceWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/alternativeservice/ConfirmProcessServerServiceWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/servicejourney/MakeServiceDecisionWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1490
