Repository hmcts/div-case-orchestration-service, pull requests merged in 2022-02, with the labels that each got.

#1584 DFR-716: Fix intermittent Itest failures
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnDecisionMadeCallbackITest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1584

#1585 Dfr 716 2.0
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/DnDecisionMadeCallbackITest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1585

#1590 update dependencies & suppressions
  build.gradle
  charts/div-cos/Chart.yaml
  job-scheduler/build.gradle
Labels: ns:divorce, prd:div, rel:div-cos-pr-1590

#1595 bump chart version
  charts/div-cos/Chart.yaml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1595

#1544 DFR-613: Certificate of entitlement template change
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoENotificationEmailTask.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/functionaltest/CaseLinkedForHearingTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/bulk/print/dataextractor/DatesDataExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendPetitionerCoENotificationEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/SendRespondentCoENotificationEmailTaskTest.java
  src/test/resources/jsonExamples/payloads/caseListedForHearingWelsh.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1544
