Repository hmcts/div-case-orchestration-service, pull requests merged in 2022-03, with the labels that each got.

#1598 DFR-841: Notify users not submitted
  build.gradle
  charts/div-cos/Chart.yaml
  charts/div-cos/values.preview.template.yaml
  charts/div-cos/values.yaml
  src/contractTest/resources/application.yml
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/domain/model/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/job/NfdNotifierJob.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/NfdNotifierService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/NfdNotifierServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/SearchForCaseByEmail.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/nfd/IdamUser.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/nfd/IdamUsersCsvLoader.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/nfd/NfdAuthUtil.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/nfd/NfdIdamApi.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/nfd/NfdIdamClient.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/nfd/NfdIdamService.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/nfd/NfdOAuth2Configuration.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/main/resources/example-application-aat.yml
  src/main/resources/unsubmittedIdamUserList.csv
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/NfdNotifierJobTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/job/quartz/NfdNotifierJobQuartzTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/service/impl/NfdNotifierServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/tasks/util/SearchForCaseByEmailTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/nfd/IdamUsersCsvLoaderTest.java
  src/test/resources/application.yml
  src/test/resources/idam-ids-test.csv
Labels: ns:divorce, prd:div, rel:div-cos-pr-1598

#1621 fix jackson date time module in object mapper
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/util/ResourceLoader.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1621

#1624 Suppressing Jackson
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-cos-pr-1624

#1465 DFR-34 : Notify petitioner or pet sol that offline AOS received
  .gitignore
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtils.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationChecker.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflow.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/CoRespondentAosOfflineNotification.java
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/RespondentAosOfflineNotification.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/CaseDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/util/PartyRepresentationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/AosPackOfflineAnswersWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/CoRespondentAosOfflineNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/OfflineAosTestFixture.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/aospack/offline/RespondentAosOfflineNotificationTest.java
  src/test/resources/jsonExamples/payloads/genericPetitionerData.json
Labels: ns:divorce, prd:div, rel:div-cos-pr-1465

#1626 DFR-949: Fix Issue AOS pack for non represented respondents
  src/main/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosIssueBulkPrintWorkflow.java
  src/test/java/uk/gov/hmcts/reform/divorce/orchestration/workflows/AosIssueBulkPrintWorkflowTest.java
Labels: ns:divorce, prd:div, rel:div-cos-pr-1626
